Repository NavyBye/ft_transcendence: changes, and which lint-staged commands are due for each by the changed paths.
All: npx prettier --write, npx eslint --fix

.lintstagedrc:

{
  "*.js": ["npx prettier --write", "npx eslint --fix"],
  "*.html": ["npx prettier --write"],
  "*.css": ["npx prettier --write"],
}

[ADD] history_user migration, not migrated
  pong/app/models/history_user.rb
  pong/db/migrate/20210519045200_create_history_users.rb
  pong/test/fixtures/history_users.yml
  pong/test/models/history_user_test.rb
Due: none

[FIX] receive to_id from request body when declaration create
  pong/app/controllers/api/declarations_controller.rb
Due: none

[FIX] delete start date selector in guild war form
  pong/app/javascript/srcs/templates/GuildManageView.html
Due: npx prettier --write

[ADD] history-user migrated
  pong/db/schema.rb
Due: none

[FIX] fix problems by porting
  pong/app/javascript/srcs/game/Ball.js
  pong/app/javascript/srcs/game/Bar.js
  pong/app/javascript/srcs/game/Game.js
  pong/app/javascript/srcs/game/constant.js
Due: npx prettier --write, npx eslint --fix

[REMOVE] remove dummy code
  pong/app/javascript/srcs/game/Game.js
Due: npx prettier --write, npx eslint --fix

[ADD] add comment of game logic
  pong/app/javascript/srcs/game/Game.js
Due: npx prettier --write, npx eslint --fix

[ADD] history - user associations
  pong/app/models/history.rb
  pong/app/models/history_user.rb
  pong/app/models/user.rb
  pong/test/fixtures/histories.yml
  pong/test/fixtures/history_users.yml
Due: none

[ADD] model validations
  pong/app/models/history.rb
  pong/app/models/history_user.rb
Due: none

[FIX] declaration_expire_job calling with .to_datetime
  pong/app/controllers/api/declarations_controller.rb
Due: none

[UPDATE] banned user cannot see messages
  pong/app/controllers/api/chat_room_messages_controller.rb
Due: none

[UPDATE] update self broadcasting
  pong/app/channels/chat.rb
Due: none

[RENAME] rename Game to GameSender
  pong/app/javascript/srcs/game/GameSender.js
Due: npx prettier --write, npx eslint --fix

[ADD] WarHistory model added & migrated
  pong/app/models/history_guild.rb
  pong/app/models/war_history.rb
  pong/db/migrate/20210519070101_create_war_histories.rb
  pong/db/migrate/20210519070405_create_history_guilds.rb
  pong/db/schema.rb
  pong/test/fixtures/history_guilds.yml
  pong/test/fixtures/war_histories.yml
  pong/test/models/history_guild_test.rb
  pong/test/models/war_history_test.rb
Due: none

[UDPATE] add channel to GameSender
  pong/app/javascript/srcs/game/GameSender.js
Due: npx prettier --write, npx eslint --fix

[ADD] war-history associations and fixture
  pong/app/models/guild.rb
  pong/app/models/history_guild.rb
  pong/app/models/war_history.rb
  pong/test/fixtures/history_guilds.yml
Due: none

[ADD] add GameReceiver
  pong/app/javascript/srcs/game/GameReceiver.js
Due: npx prettier --write, npx eslint --fix

[ADD] war-history association base
  pong/app/models/history_guild.rb
Due: none

[UPDATE] Do not render in GameSender
  pong/app/javascript/srcs/game/GameSender.js
Due: npx prettier --write, npx eslint --fix

[ADD] add toHash, fromHash in Entity
  pong/app/javascript/srcs/game/Entity.js
Due: npx prettier --write, npx eslint --fix

[UPDATE] move, update function in Bar, Ball
  pong/app/javascript/srcs/game/Ball.js
  pong/app/javascript/srcs/game/Bar.js
Due: npx prettier --write, npx eslint --fix

[ADD] add base channel for test game
  pong/app/channels/game_channel.rb
  pong/db/migrate/20210519051105_add_is_host_to_game_players.rb
  pong/db/schema.rb
Due: none

[UPDATE] update condition to subscribe
  pong/app/channels/game_channel.rb
Due: none

[ADD] user history index
  pong/app/controllers/api/users_controller.rb
  pong/app/models/history_user.rb
  pong/app/views/api/users/history.json.jbuilder
  pong/config/routes.rb
Due: none

[ADD] guild#histories
  pong/app/controllers/api/guilds_controller.rb
  pong/app/models/history_guild.rb
  pong/app/views/api/guilds/histories.json.jbuilder
  pong/app/views/api/users/histories.json.jbuilder
Due: none

[UPDATE] update validation
  pong/app/channels/game_channel.rb
Due: none

[ADD] dummy fixtures for histories
  pong/app/controllers/api/users_controller.rb
  pong/app/views/api/guilds/histories.json.jbuilder
  pong/app/views/api/users/histories.json.jbuilder
  pong/test/fixtures/histories.yml
  pong/test/fixtures/history_guilds.yml
  pong/test/fixtures/history_users.yml
  pong/test/fixtures/war_histories.yml
Due: none

[FIX] ALL Rubocop exclude db/schema.rb
  .rubocop.yml
Due: none

[FIX] other .rubocop.yml fix with same issue
  pong/.rubocop.yml
Due: none

[FIX] pong yml
  pong/.rubocop.yml
Due: none

[FIX] Test and Fix game play
  pong/app/javascript/srcs/game/GameReceiver.js
  pong/app/javascript/srcs/game/GameSender.js
  pong/app/javascript/srcs/game/index.js
  pong/app/javascript/srcs/game/serializer.js
  pong/app/javascript/srcs/views/GamePlayView.js
Due: npx prettier --write, npx eslint --fix

[FIX] accept method in declaration model
  pong/app/models/declaration.rb
Due: none

[FIX] accept model scope error
  pong/app/models/declaration.rb
Due: none

[UPDATE] game channel
  pong/app/channels/game_channel.rb
Due: none

[UPDATE] GuildWarTime modal 기능 추가 - 사용 불가능한 시간 표시 - 시간 선택 하면 attr로 선택된 시간 저장 - 시간 선택하면 모달 닫히는것으로 변경 -> enter버튼 삭제
  pong/app/javascript/srcs/templates/RootView.html
  pong/app/javascript/srcs/views/GuildWarTimeModalView.js
Due: npx prettier --write, npx eslint --fix

[ADD] add guild war model, collection, view, collectionview, template
  pong/app/javascript/srcs/collections/GuildWarCollection.js
  pong/app/javascript/srcs/models/GuildWarModel.js
  pong/app/javascript/srcs/templates/GuildWarCollectionView.html
  pong/app/javascript/srcs/templates/GuildWarView.html
  pong/app/javascript/srcs/views/GuildWarCollectionView.js
  pong/app/javascript/srcs/views/GuildWarView.js
Due: npx prettier --write, npx eslint --fix

[UPDATE] guild war declare 기능 추가
  pong/app/controllers/api/declarations_controller.rb
  pong/app/javascript/srcs/views/GuildManageView.js
  pong/public/css/content-guild.css
Due: npx prettier --write, npx eslint --fix

[ADD] declarations jbuilder base
  pong/app/views/api/declarations/index.json.jbuilder
Due: none

[FIX] declarations#index to jbuilder
  pong/app/controllers/api/declarations_controller.rb
  pong/app/views/api/declarations/index.json.jbuilder
Due: none

[ADD] declarations fixtures
  pong/test/fixtures/declarations.yml
Due: none
