Repository NavyBye/ft_transcendence: changes, and which lint-staged commands are due for each by the changed paths.
All: npx prettier --write, npx eslint --fix

.lintstagedrc:

{
  "*.js": ["npx prettier --write", "npx eslint --fix"],
  "*.html": ["npx prettier --write"],
  "*.css": ["npx prettier --write"],
}

[FIX] fix url mismatch on blacklist
  pong/app/javascript/srcs/collections/BlockCollection.js
Due: npx prettier --write, npx eslint --fix

[ADD] add dummy data
  pong/test/fixtures/chat_rooms_members.yml
Due: none

[ADD] add controller test
  pong/test/controllers/api/chat_rooms_members_controller_test.rb
Due: none

[UPDATE] add permission handler
  pong/app/controllers/application_controller.rb
Due: none

[UPDATE] update curd api for chat_rooms_member
  pong/app/controllers/api/chat_rooms_members_controller.rb
Due: none

[ADD] add migration for unique index
  pong/db/migrate/20210428045251_add_unique_index_to_chat_rooms_members.rb
  pong/db/schema.rb
Due: none

[UPDATE] update job and rename
  pong/app/jobs/chat_rooms_member_recovery_job.rb
  pong/app/jobs/chat_rooms_member_update_status_job.rb
Due: none

[ADD] add new validation for owner
  pong/app/models/chat_rooms_member.rb
Due: none

[ADD] add chat_rooms_member controller test
  pong/test/controllers/api/chat_rooms_members_controller_test.rb
Due: none

[ADD] schema changes update
  pong/db/schema.rb
Due: none

[FIX] Model로 collection으로 작성한 부분 수정
  pong/app/javascript/srcs/collections/BlockCollection.js
Due: npx prettier --write, npx eslint --fix

[ADD] add new routes
  pong/config/routes.rb
Due: none

[ADD] add has_many to user
  pong/app/models/user.rb
Due: none

[UPDATE] add new action for list logined user's chatrooms
  pong/app/controllers/api/chat_rooms_controller.rb
Due: none

[REFACTOR] refactoring by rubocop
  pong/test/controllers/api/chat_rooms_members_controller_test.rb
Due: none

[UPDATE] add new test for list logined user's chatrooms
  pong/test/controllers/api/chat_rooms_controller_test.rb
Due: none

[UPDATE] make sidebar scrollable
  pong/public/css/chat.css
  pong/public/css/side.css
Due: npx prettier --write

[FIX] fix chat-collection style
  pong/public/css/chat.css
Due: npx prettier --write

[FIX] fix scroll issue in ChatCollectionView
  pong/app/javascript/srcs/views/ChatCollectionView.js
Due: npx prettier --write, npx eslint --fix

[FIX] IDK but Package-lock.json changed
  pong/package-lock.json
Due: none

[FIX] block controller parameter method
  pong/app/controllers/api/blocks_controller.rb
Due: none

[FIX] block_user_id -> blocked_user_id
  pong/app/javascript/srcs/app.js
Due: npx prettier --write, npx eslint --fix

[FIX] fix Blockmodel: delete default id, change block_user_id -> blocked_user_id
  pong/app/javascript/srcs/models/BlockModel.js
Due: npx prettier --write, npx eslint --fix

[ADD] generate new model
  pong/app/models/dm_room.rb
  pong/app/models/dm_room_message.rb
  pong/app/models/dm_rooms_member.rb
  pong/db/migrate/20210428070949_create_dm_rooms.rb
  pong/db/migrate/20210428071025_create_dm_rooms_members.rb
  pong/db/migrate/20210428071031_create_dm_room_messages.rb
  pong/test/fixtures/dm_room_messages.yml
  pong/test/fixtures/dm_rooms.yml
  pong/test/fixtures/dm_rooms_members.yml
  pong/test/models/dm_room_message_test.rb
  pong/test/models/dm_room_test.rb
  pong/test/models/dm_rooms_member_test.rb
Due: none

[UPDATE] add profile modal button style block requset change ajax -> radio request ** app.js blacklist fetch 부분 동작이 안됨
  pong/app/javascript/srcs/templates/UserInfoView.html
  pong/app/javascript/srcs/views/UserInfoView.js
  pong/app/javascript/srcs/views/UserProfileModalView.js
Due: npx prettier --write, npx eslint --fix

[ADD] friend channel
  pong/app/channels/friend_channel.rb
  pong/app/javascript/channels/friend_channel.js
  pong/db/schema.rb
  pong/test/channels/friend_channel_test.rb
  pong/test/fixtures/friends.yml
  pong/test/models/friend_test.rb
Due: npx prettier --write, npx eslint --fix

[ADD] add ChatRoomView join / exit
  pong/app/javascript/srcs/app.js
  pong/app/javascript/srcs/views/ChatRoomView.js
  pong/public/css/chatroom-collection.css
  pong/public/css/dmroom-collection.css
Due: npx prettier --write, npx eslint --fix

[REFACTOR] with rubocop
  pong/app/controllers/application_controller.rb
  pong/app/controllers/users/sessions_controller.rb
Due: none

[ADD] nickname to friends index response
  pong/app/controllers/api/friends_controller.rb
Due: none

[ADD] add test for password validation
  pong/test/controllers/api/chat_rooms_controller_test.rb
  pong/test/controllers/api/chat_rooms_members_controller_test.rb
  pong/test/fixtures/chat_rooms.yml
  pong/test/fixtures/chat_rooms_members.yml
Due: none

[FIX] fix chatroom name in fixtures
  pong/test/fixtures/chat_rooms.yml
Due: none

[REFACTOR] refactor by rubocop
  pong/app/controllers/application_controller.rb
  pong/test/controllers/api/chat_rooms_members_controller_test.rb
Due: none

[UPDATE] update chat room for validation with password
  pong/app/controllers/api/chat_rooms_members_controller.rb
  pong/app/models/chat_room.rb
Due: none

[ADD] nickname to friend channel message
  pong/app/channels/friend_channel.rb
Due: none

[FIX] fix blacklist
  pong/app/javascript/srcs/app.js
  pong/app/javascript/srcs/collections/BlockCollection.js
  pong/app/javascript/srcs/models/BlockModel.js
Due: npx prettier --write, npx eslint --fix

[UPDATE] add permission error in message controller
  pong/app/controllers/api/chat_room_messages_controller.rb
  pong/test/controllers/api/chat_room_messages_controller_test.rb
Due: none

[FIX] fix block controller
  pong/app/controllers/api/blocks_controller.rb
Due: none

[FIX] fix 'Setting Room' button in ChatCollectionView
  pong/app/javascript/srcs/views/ChatCollectionView.js
  pong/app/javascript/srcs/views/ChatRoomSettingModalView.js
Due: npx prettier --write, npx eslint --fix

[UPDATE] update isBlocked reply
  pong/app/javascript/srcs/app.js
Due: npx prettier --write, npx eslint --fix

[FIX] blocks#destroy
  pong/app/controllers/api/blocks_controller.rb
Due: none
