Repository NavyBye/ft_transcendence: changes, and which lint-staged commands are due for each by the changed paths.
All: npx prettier --write, npx eslint --fix

[FIX] no game fixture
  pong/test/fixtures/games.yml
Due: none

[ADD] owner and admin to permission check
  pong/app/models/guild_member.rb
  pong/test/controllers/api/guild_members_controller_test.rb
  pong/test/controllers/api/guilds_controller_test.rb
Due: none

[UPDATE] make blocked user's chat not visible
  pong/app/javascript/srcs/views/ChatView.js
Due: npx prettier --write, npx eslint --fix

[UPDATE] make chat collection refresh when (un)blocking user
  pong/app/javascript/srcs/views/ChatCollectionView.js
  pong/app/javascript/srcs/views/UserProfileModalView.js
  pong/public/uploads/user/image/1010528735/hyeyoo.jpeg
Due: npx prettier --write, npx eslint --fix

[FIX] update as API is updated
  pong/app/javascript/srcs/views/ChatView.js
  pong/app/javascript/srcs/views/UserProfileModalView.js
Due: npx prettier --write, npx eslint --fix

[UPDATE] make friend collection view fetch when friend is destroyed
  pong/app/javascript/srcs/views/FriendView.js
Due: npx prettier --write, npx eslint --fix

[UPDATE] update Follow/Unfollow of UserProfileModalView
  pong/app/javascript/srcs/app.js
  pong/app/javascript/srcs/templates/UserInfoView.html
  pong/app/javascript/srcs/views/UserInfoView.js
  pong/app/javascript/srcs/views/UserProfileModalView.js
Due: npx prettier --write, npx eslint --fix

[ADD] routes for matchmaking
  pong/config/routes.rb
Due: none

[ADD] add guild css, image
  pong/public/css/content-guild.css
  pong/public/images/paris.png
Due: npx prettier --write

[FIX] fix ranking css rank, guild 공통되는 부분 수정
  pong/public/css/content-ranking.css
Due: npx prettier --write

[UPDATE] guild, Noguild view, template
  pong/app/javascript/srcs/templates/GuildView.html
  pong/app/javascript/srcs/templates/NoGuildView.html
  pong/app/javascript/srcs/templates/RankPageView.html
  pong/app/views/layouts/application.html.erb
Due: npx prettier --write

[REFACTOR] with rubocop
  pong/app/models/guild_member.rb
Due: none

[ADD] implement ban/mute/free (test needed)
  pong/app/javascript/srcs/templates/RootView.html
  pong/app/javascript/srcs/views/ChatCollectionView.js
  pong/app/javascript/srcs/views/ChatView.js
  pong/app/javascript/srcs/views/InputBanDurationModalView.js
  pong/app/javascript/srcs/views/InputMuteDurationModalView.js
Due: npx prettier --write, npx eslint --fix

[FIX] fix id duplicate
  pong/app/javascript/srcs/templates/RootView.html
Due: npx prettier --write

[ADD] add parsing duration in ban, mute
  pong/app/javascript/srcs/views/InputBanDurationModalView.js
  pong/app/javascript/srcs/views/InputMuteDurationModalView.js
Due: npx prettier --write, npx eslint --fix

[FIX] for test
  pong/app/models/guild_member.rb
Due: none

[ADD] target_id column to game queue table
  pong/db/migrate/20210507120649_add_target_id_column_to_game_queue.rb
  pong/db/schema.rb
Due: none

[ADD] games controller basics
  pong/app/assets/stylesheets/api/games.scss
  pong/app/controllers/api/games_controller.rb
  pong/app/helpers/api/games_helper.rb
  pong/app/models/game_queue.rb
  pong/config/routes.rb
  pong/test/controllers/api/games_controller_test.rb
Due: none

[UPDATE] update No, Yes Guild View
  pong/app/javascript/srcs/templates/NoGuildView.html
  pong/app/javascript/srcs/views/GuildView.js
  pong/app/javascript/srcs/views/NoGuildView.js
  pong/app/javascript/srcs/views/YesGuildView.js
  pong/public/css/content-guild.css
  pong/public/css/content-ranking.css
Due: npx prettier --write, npx eslint --fix

[ADD] add yes-guild template
  pong/app/javascript/srcs/templates/YesGuildView.html
Due: npx prettier --write

[ADD] add Guild-Invite Model, Collection, View, Template
  pong/app/javascript/srcs/collections/GuildInviteCollection.js
  pong/app/javascript/srcs/models/GuildInviteModel.js
  pong/app/javascript/srcs/templates/GuildInviteCollectionView.html
  pong/app/javascript/srcs/templates/GuildInviteView.html
  pong/app/javascript/srcs/views/GuildInviteCollectionView.js
  pong/app/javascript/srcs/views/GuildInviteView.js
Due: npx prettier --write, npx eslint --fix

[ADD] add guild-info view
  pong/app/javascript/srcs/templates/GuildInfoView.html
  pong/app/javascript/srcs/views/GuildInfoView.js
Due: npx prettier --write, npx eslint --fix

[ADD] add guild-member collection, view, template
  pong/app/javascript/srcs/collections/GuildMemberCollection.js
  pong/app/javascript/srcs/templates/GuildMemberCollectionView.html
  pong/app/javascript/srcs/templates/GuildMemberView.html
  pong/app/javascript/srcs/views/GuildMemberCollectionView.js
  pong/app/javascript/srcs/views/GuildMemberView.js
Due: npx prettier --write, npx eslint --fix

[ADD] add guild-manage view, template
  pong/app/javascript/srcs/templates/GuildManageView.html
  pong/app/javascript/srcs/views/GuildManageView.js
Due: npx prettier --write, npx eslint --fix

[FIX] remove console log
  pong/app/javascript/srcs/views/GuildInfoView.js
Due: npx prettier --write, npx eslint --fix

[ADD] add Radio guild-id for get guild id in GuildMemberView
  pong/app/javascript/srcs/views/YesGuildView.js
Due: npx prettier --write, npx eslint --fix

[UPDATE] update kick in GuildMember list
  pong/app/javascript/srcs/templates/GuildMemberView.html
  pong/app/javascript/srcs/views/GuildMemberView.js
Due: npx prettier --write, npx eslint --fix

[FIX] guild member index to json_jbuilder
  pong/app/controllers/api/guild_members_controller.rb
  pong/app/views/api/guild_members/index.json.jbuilder
Due: none

[FIX] guild member test
  pong/test/controllers/api/guild_members_controller_test.rb
Due: none

[ADD] add GuildMemeberModel Guild member api response 수정되면서 UserModel사용할 수 없게되어 추가함
  pong/app/javascript/srcs/collections/GuildMemberCollection.js
  pong/app/javascript/srcs/models/GuildMemberModel.js
  pong/app/javascript/srcs/templates/GuildMemberCollectionView.html
  pong/app/javascript/srcs/templates/GuildMemberView.html
Due: npx prettier --write, npx eslint --fix

[UPDATE] add Leave Guild button
  pong/app/javascript/srcs/templates/GuildInfoView.html
  pong/app/javascript/srcs/views/GuildInfoView.js
  pong/public/css/content-guild.css
Due: npx prettier --write, npx eslint --fix

[UPDATE] give officer, get officer 기능 추가 - member, officer 등급의 경우에만 bootstrap menu가 나옴
  pong/app/javascript/srcs/views/GuildInfoView.js
  pong/app/javascript/srcs/views/GuildMemberView.js
Due: npx prettier --write, npx eslint --fix

[ADD] add Guild Declare Base Template
  pong/app/javascript/srcs/templates/GuildManageView.html
  pong/app/javascript/srcs/views/GuildManageView.js
  pong/public/css/content-guild.css
Due: npx prettier --write, npx eslint --fix

[ADD] index additionaly returns rating.
  pong/app/views/api/guild_members/index.json.jbuilder
Due: none

[UPDATE] update GuildManageView template
  pong/app/javascript/srcs/templates/GuildManageView.html
Due: npx prettier --write

[UPDATE] make button for war time selection
  pong/app/javascript/srcs/templates/GuildManageView.html
Due: npx prettier --write

[ADD] with_advisory_lock GEM install
  pong/Gemfile
Due: none

[ADD] basic match making
  pong/app/controllers/api/games_controller.rb
  pong/app/models/game_player.rb
  pong/app/models/game_queue.rb
Due: none

[REFACTOR] with rubocop
  pong/app/controllers/api/games_controller.rb
Due: none

[ADD] duel queue make test
  pong/app/controllers/api/games_controller.rb
  pong/app/models/game_player.rb
  pong/app/models/game_queue.rb
  pong/app/models/user.rb
  pong/test/controllers/api/games_controller_test.rb
  pong/test/fixtures/users.yml
Due: none

Path conditions:
  npx prettier --write: ((any of: *.js) or (any of: *.html)) or (any of: *.css)
  npx eslint --fix: any of: *.js
