Repository NavyBye/ft_transcendence: changes, and which lint-staged commands are due for each by the changed paths.
All: npx prettier --write, npx eslint --fix

[ADD] add image
  pong/app/javascript/srcs/templates/HomeView.html
  pong/public/css/home.css
Due: npx prettier --write

[UPDATE] set HomeView's image height
  pong/public/css/home.css
Due: npx prettier --write

[FIX] Try to fix codacy
  pong/public/css/home.css
Due: npx prettier --write

[FIX] Fix Uncaught Error in Promise
  pong/app/javascript/srcs/app.js
Due: npx prettier --write, npx eslint --fix

[FIX] fix err
  pong/app/channels/game_channel.rb
  pong/app/models/game.rb
  pong/app/models/tournament.rb
Due: none

[FIX] fix field key name
  pong/app/models/dm_room_message.rb
Due: none

[FIX] Do not update status to online unless user's status is ready
  pong/app/controllers/api/games_controller.rb
Due: none

[ADD] custom 404 and its configs
  pong/app/assets/stylesheets/errors.scss
  pong/app/controllers/application_controller.rb
  pong/app/controllers/errors_controller.rb
  pong/app/helpers/errors_helper.rb
  pong/config/application.rb
  pong/config/environments/development.rb
  pong/config/routes.rb
  pong/test/controllers/errors_controller_test.rb
Due: none

[FIX] parse json when it's string
  pong/app/javascript/srcs/views/FriendView.js
Due: npx prettier --write, npx eslint --fix

[ADD] online/offline with friend channel
  pong/app/channels/friend_channel.rb
  pong/test/channels/friend_channel_test.rb
Due: none

[UPDATE] resolve #273
  pong/app/channels/game_channel.rb
Due: none

[FIX] Fix Spectate Mode
  pong/app/controllers/api/users_controller.rb
  pong/app/javascript/srcs/views/UserProfileModalView.js
Due: npx prettier --write, npx eslint --fix

[REMOVE] Remove puts
  pong/app/controllers/api/users_controller.rb
Due: none

[FIX] fix err
  pong/app/channels/game_channel.rb
Due: none

[FIX] remove TODO comment
  pong/app/controllers/application_controller.rb
  pong/app/models/game.rb
Due: none

[UPDATE] 404 page update
  pong/public/404.html
Due: npx prettier --write

[UPDATE] Change api
  pong/app/javascript/srcs/views/AdminUserView.js
Due: npx prettier --write, npx eslint --fix

[UPDATE] hide modal after error
  pong/app/javascript/srcs/views/AdminGuildMemberView.js
Due: npx prettier --write, npx eslint --fix

[UPDATE] change api url
  pong/app/javascript/srcs/views/AdminUserView.js
Due: npx prettier --write, npx eslint --fix

[FIX] ban and role change in admin, with good permission check
  pong/app/controllers/api/admin_controller.rb
  pong/app/controllers/api/users_controller.rb
Due: none

[FIX] fix typo
  pong/app/javascript/srcs/views/AdminGuildMemberView.js
Due: npx prettier --write, npx eslint --fix

[UPDATE] preview upload image
  pong/app/javascript/srcs/views/MyPageView.js
Due: npx prettier --write, npx eslint --fix

[FIX] Guild War endtime form change date -> datatime
  pong/app/javascript/srcs/templates/GuildManageView.html
Due: npx prettier --write

[UPDATE] send end message to spectators when tournament match end
  pong/app/channels/game_channel.rb
Due: none

[FIX] Fix non-unique play route problem
  pong/app/javascript/srcs/app.js
  pong/app/javascript/srcs/router.js
Due: npx prettier --write, npx eslint --fix

[FIX] fix dm room name
  pong/app/models/dm_room.rb
Due: none

[UPDATE] update dm room name
  pong/app/models/dm_room.rb
Due: none

[FIX] Do not send 'end' message when disconnected
  pong/app/javascript/srcs/views/GamePlayView.js
Due: npx prettier --write, npx eslint --fix

[ADD] stats to api/users/me and api/users/:id (show)
  pong/app/controllers/api/users_controller.rb
  pong/app/models/user.rb
Due: none

[FIX] Refresh chat collection only in chat
  pong/app/javascript/srcs/views/SideView.js
Due: npx prettier --write, npx eslint --fix

[UPDATE] Change Create -> Update in ChatRoomSettingModalView
  pong/app/javascript/srcs/templates/RootView.html
Due: npx prettier --write

[UPDATE] Change Canvas to StaticCanvas
  pong/app/javascript/srcs/game/GameReceiver.js
Due: npx prettier --write, npx eslint --fix

[UPDATE] Introduce fitScreenSize function
  pong/app/javascript/srcs/game/GameReceiver.js
Due: npx prettier --write, npx eslint --fix

[UPDATE] fitScreenSize just after creating canvas
  pong/app/javascript/srcs/game/GameReceiver.js
Due: npx prettier --write, npx eslint --fix

[ADD] Add a comment on fitScreenSize
  pong/app/javascript/srcs/game/GameReceiver.js
Due: npx prettier --write, npx eslint --fix

[FIX] change image size in chat, friend view
  pong/app/javascript/srcs/templates/FriendView.html
  pong/app/javascript/srcs/templates/RecvChatView.html
Due: npx prettier --write

[UPDATE] show win, lose stats in profile modal
  pong/app/javascript/srcs/templates/UserInfoView.html
Due: npx prettier --write

Revert "[FIX] Refresh chat collection only in chat"
  pong/app/javascript/srcs/views/SideView.js
Due: npx prettier --write, npx eslint --fix

[FIX] fix prize -> prize_point
  pong/app/javascript/srcs/templates/GuildWarView.html
Due: npx prettier --write

[FIX] Refresh only when in ChatCollectionView is rendered
  pong/app/javascript/srcs/views/ChatCollectionView.js
Due: npx prettier --write, npx eslint --fix

Path conditions:
  npx prettier --write: ((any of: *.js) or (any of: *.html)) or (any of: *.css)
  npx eslint --fix: any of: *.js
