Repository NavyBye/ft_transcendence: changes, and which lint-staged commands are due for each by the changed paths.
All: npx prettier --write, npx eslint --fix

.lintstagedrc:

{
  "*.js": ["npx prettier --write", "npx eslint --fix"],
  "*.html": ["npx prettier --write"],
  "*.css": ["npx prettier --write"],
}

[FIX] import bootstrap in application.js
  pong/app/javascript/packs/application.js
Due: npx prettier --write, npx eslint --fix

[ADD] add webpacker compile on html files
  pong/config/webpacker.yml
Due: none

[ADD] add devise controller to config devise registration action
  pong/app/controllers/users/confirmations_controller.rb
  pong/app/controllers/users/passwords_controller.rb
  pong/app/controllers/users/registrations_controller.rb
  pong/app/controllers/users/sessions_controller.rb
  pong/app/controllers/users/unlocks_controller.rb
  pong/config/routes.rb
Due: none

[FIX] fix error when loading bootstrap functions
  pong/config/webpack/environment.js
Due: npx prettier --write, npx eslint --fix

[UPDATE] add test fixtures, fix rubocop, add message test
  pong/test/controllers/api/chat_room_messages_controller_test.rb
  pong/test/controllers/api/chat_rooms_members_controller_test.rb
  pong/test/controllers/api/users_controller_test.rb
  pong/test/fixtures/chat_room_messages.yml
  pong/test/fixtures/chat_rooms.yml
  pong/test/fixtures/chat_rooms_members.yml
  pong/test/fixtures/users.yml
  pong/test/models/chat_room_message_test.rb
  pong/test/models/chat_rooms_member_test.rb
Due: none

[ADD] add migrate files
  pong/db/migrate/20210419050402_create_chat_rooms_members.rb
  pong/db/migrate/20210419051209_create_chat_room_messages.rb
Due: none

[UPDATE] update route
  pong/config/routes.rb
Due: none

[FIX] custom registration controller
  pong/app/controllers/users/registrations_controller.rb
Due: none

[UPDATE] update models
  pong/app/models/chat_room.rb
  pong/app/models/chat_rooms_member.rb
Due: none

[UPDATE] add owner when chatroom created
  pong/app/controllers/api/chat_rooms_controller.rb
Due: none

[ADD] add message, members controller
  pong/app/controllers/api/chat_room_messages_controller.rb
  pong/app/controllers/api/chat_rooms_members_controller.rb
Due: none

[FIX] fix compilation error
  pong/app/javascript/packs/application.js
  pong/config/webpack/environment.js
Due: npx prettier --write, npx eslint --fix

[REFACTOR] disables ABC-size cop, devise controllers refactored.
  pong/.rubocop.yml
  pong/app/controllers/users/confirmations_controller.rb
  pong/app/controllers/users/passwords_controller.rb
  pong/app/controllers/users/registrations_controller.rb
  pong/app/controllers/users/sessions_controller.rb
  pong/app/controllers/users/unlocks_controller.rb
Due: none

[ADD] add strip function befor validation
  pong/app/models/chat_room_message.rb
Due: none

[FIX] fix bootstrap issue with 'jquery' and 'jquery/src/jquery'
  pong/app/javascript/packs/application.js
Due: npx prettier --write, npx eslint --fix

[ADD] controller and actions for guild_members.
  pong/app/assets/stylesheets/api/guild_members.scss
  pong/app/controllers/api/guild_members_controller.rb
  pong/app/helpers/api/guild_members_helper.rb
  pong/config/routes.rb
  pong/test/controllers/api/guild_members_controller_test.rb
Due: none

[ADD] add OkModalView, ErrorModalView
  pong/app/javascript/srcs/templates/RootView.html
  pong/app/javascript/srcs/views/ErrorModalView.js
  pong/app/javascript/srcs/views/OkModalView.js
  pong/app/javascript/srcs/views/RootView.js
  pong/public/images/error-icon.png
Due: npx prettier --write, npx eslint --fix

[FIX] fix unused buttons and modal
  pong/app/javascript/srcs/templates/RootView.html
Due: npx prettier --write

[ADD] guild model, name test
  pong/app/models/guild.rb
  pong/test/fixtures/guilds.yml
  pong/test/models/guild_test.rb
Due: none

[ADD] model validation: uniqueness
  pong/app/models/guild.rb
Due: none

[ADD] guild name uniqueness test
  pong/test/fixtures/guilds.yml
  pong/test/models/guild_test.rb
Due: none

[FIX] fix test
  pong/test/channels/chat_room_channel_test.rb
  pong/test/controllers/api/chat_room_messages_controller_test.rb
  pong/test/controllers/api/chat_rooms_controller_test.rb
  pong/test/fixtures/users.yml
Due: none

[REFACTOR] fix with rubocop
  pong/app/channels/application_cable/connection.rb
  pong/app/channels/chat_room_channel.rb
  pong/test/channels/chat_room_channel_test.rb
Due: none

[FIX] fix name error
  pong/app/channels/application_cable/connection.rb
  pong/app/channels/chat_room_channel.rb
Due: none

[REFACTOR] refactor with rubocop
  pong/app/controllers/home_controller.rb
Due: none

[ADD] guild_member tests
  pong/test/fixtures/guild_members.yml
  pong/test/fixtures/guilds.yml
  pong/test/models/guild_member_test.rb
  pong/test/models/guild_test.rb
Due: none

[UPDATE] make application controller update my_csrf_token cookie
  pong/app/controllers/application_controller.rb
Due: none

[ADD] add sign in, sign out logic
  pong/app/javascript/srcs/views/LoginView.js
Due: npx prettier --write, npx eslint --fix

[UPDATE] update auth utility get token from cookie
  pong/app/javascript/srcs/utils/auth.js
Due: npx prettier --write, npx eslint --fix

[ADD] add id to input elements
  pong/app/javascript/srcs/templates/LoginView.html
Due: npx prettier --write

[UPDATE] update router and main logic
  pong/app/javascript/srcs/app.js
  pong/app/javascript/srcs/router.js
Due: npx prettier --write, npx eslint --fix

[FIX] test by fixture update
  pong/test/models/guild_member_test.rb
Due: none

[FIX] fix Chat RECV_TEMPLATE 현재 profile사진 없어서 임시 사진 사용 중 Chatmodel default수정 collectionveiw에 addAfter event추가 채팅창 맨 밑으로 가게하는것 아직 안됨(한개만...다시올라감)
  pong/app/javascript/srcs/collections/ChatCollection.js
  pong/app/javascript/srcs/common/CollectionView.js
  pong/app/javascript/srcs/models/ChatModel.js
  pong/app/javascript/srcs/templates/RecvChatView.html
  pong/app/javascript/srcs/templates/SendChatView.html
  pong/app/javascript/srcs/views/ChatCollectionView.js
  pong/app/javascript/srcs/views/ChatView.js
Due: npx prettier --write, npx eslint --fix

[FIX] sign_out now returns new csrf token
  pong/app/controllers/users/sessions_controller.rb
  pong/config/routes.rb
Due: none

[FIX] fix the fucking rails bug
  pong/app/controllers/application_controller.rb
  pong/app/javascript/srcs/app.js
  pong/app/javascript/srcs/utils/auth.js
  pong/config/routes.rb
Due: npx prettier --write, npx eslint --fix

[FIX] invite models
  pong/app/models/guild.rb
  pong/app/models/invite.rb
  pong/app/models/user.rb
Due: none

[ADD] invite controller actions and minor fixes
  pong/app/controllers/api/guild_members_controller.rb
  pong/app/controllers/api/guilds_controller.rb
  pong/app/controllers/api/invites_controller.rb
  pong/app/views/api/invites/index.json.jbuilder
  pong/config/routes.rb
  pong/test/controllers/api/guilds_controller_test.rb
  pong/test/controllers/api/users_controller_test.rb
Due: none

[FIX] guild_id should not be unique.
  pong/db/migrate/20210420053847_create_guild_members.rb
  pong/db/schema.rb
Due: none

[FIX] controllers and models updated a lot
  pong/app/controllers/api/friends_controller.rb
  pong/app/controllers/api/guild_members_controller.rb
  pong/app/controllers/api/guilds_controller.rb
  pong/app/controllers/api/invites_controller.rb
  pong/app/models/guild_member.rb
  pong/app/models/invite.rb
  pong/app/views/api/invites/index.json.jbuilder
Due: none

[FIX] fixtures and model unit tests
  pong/test/fixtures/guild_members.yml
  pong/test/fixtures/guilds.yml
  pong/test/fixtures/invites.yml
  pong/test/fixtures/users.yml
  pong/test/models/guild_member_test.rb
  pong/test/models/invite_test.rb
Due: none
