Repository NavyBye/ft_transcendence: changes, and which lint-staged commands are due for each by the changed paths.
All: npx prettier --write, npx eslint --fix

.lintstagedrc:

{
  "*.js": ["npx prettier --write", "npx eslint --fix"],
  "*.html": ["npx prettier --write"],
  "*.css": ["npx prettier --write"],
}

[FIX] Fix ChatRoomUserCollectionModalView
  pong/app/javascript/srcs/collections/ChatRoomUserCollection.js
  pong/app/javascript/srcs/templates/ChatRoomUserCollectionView.html
  pong/app/javascript/srcs/templates/ChatRoomUserModal.html
  pong/app/javascript/srcs/templates/ChatRoomUserView.html
  pong/app/javascript/srcs/views/ChatRoomUserCollectionModalView.js
  pong/app/javascript/srcs/views/ChatRoomUserCollectionView.js
  pong/app/javascript/srcs/views/ChatRoomUserModalView.js
  pong/app/javascript/srcs/views/ChatRoomUserView.js
Due: npx prettier --write, npx eslint --fix

[FIX] fix block destroy
  pong/app/javascript/srcs/app.js
Due: npx prettier --write, npx eslint --fix

[ADD] todo comment
  pong/app/controllers/api/blocks_controller.rb
Due: none

[FIX] fix duplicate users on ChatRoomUserCollectionModalView
  pong/app/javascript/srcs/views/ChatRoomUserCollectionModalView.js
Due: npx prettier --write, npx eslint --fix

[ADD] image update test 1
  pong/test/controllers/api/users_controller_test.rb
  pong/test/fixtures/files/rails_logo.png
  pong/test/fixtures/users.yml
  pong/test/models/user_test.rb
  pong/test/test_helper.rb
Due: none

[ADD] friend controller test and cool permission check logic
  pong/app/controllers/api/friends_controller.rb
  pong/app/controllers/application_controller.rb
  pong/app/models/friend.rb
  pong/test/controllers/api/friends_controller_test.rb
  pong/test/models/friend_test.rb
Due: none

[ADD] block controller tests
  pong/app/controllers/api/blocks_controller.rb
  pong/app/controllers/application_controller.rb
  pong/app/models/block.rb
  pong/test/controllers/api/blocks_controller_test.rb
  pong/test/fixtures/blocks.yml
  pong/test/models/block_test.rb
Due: none

[REFACTOR] user controller tests and rubocop checklists
  pong/app/controllers/api/blocks_controller.rb
  pong/app/controllers/api/friends_controller.rb
  pong/test/controllers/api/users_controller_test.rb
Due: none

[ADD] add 'My Page' to navbar
  pong/app/javascript/srcs/templates/NavView.html
Due: npx prettier --write

[ADD] add getView to Region
  pong/app/javascript/srcs/common/Region.js
Due: npx prettier --write, npx eslint --fix

[ADD] add simple MyPageView
  pong/app/javascript/srcs/router.js
  pong/app/javascript/srcs/templates/MyPageView.html
  pong/app/javascript/srcs/views/MyPageView.js
Due: npx prettier --write, npx eslint --fix

[UPDATE] UsermodalView Block기능 update API미구현으로 틀만 잡아놓고 이후 수정 해야함
  pong/app/javascript/srcs/app.js
  pong/app/javascript/srcs/views/UserInfoView.js
  pong/app/javascript/srcs/views/UserProfileModalView.js
Due: npx prettier --write, npx eslint --fix

[UPDATE] pakage-lock, yarn
  pong/package-lock.json
  pong/yarn.lock
Due: none

[FIX] fix err about table name
  pong/db/migrate/20210428071025_create_dm_rooms_members.rb
  pong/db/migrate/20210428071031_create_dm_room_messages.rb
Due: none

[UPDATE] update basic associations
  pong/app/models/dm_room.rb
  pong/app/models/dm_room_message.rb
  pong/app/models/dm_rooms_member.rb
Due: none

[UPDATE] add routes for dm
  pong/config/routes.rb
Due: none

[ADD] add style for 'content' region of MainView
  pong/app/javascript/srcs/templates/MainView.html
  pong/app/views/layouts/application.html.erb
  pong/public/css/content-common.css
  pong/public/css/main.css
Due: npx prettier --write

[FIX] from_omniauth minor bug about rank initialize
  pong/app/models/user.rb
Due: none

[UPDATE] apply common style to MyPageView
  pong/app/javascript/srcs/router.js
  pong/app/javascript/srcs/templates/MyPageView.html
Due: npx prettier --write, npx eslint --fix

[FIX] fix sidebar and text color
  pong/public/css/content-common.css
Due: npx prettier --write

[UPDATE] add design for MyPageView
  pong/app/javascript/srcs/templates/MyPageView.html
  pong/app/views/layouts/application.html.erb
  pong/public/css/my-page.css
Due: npx prettier --write

[ADD] add UserModel
  pong/app/javascript/srcs/models/UserModel.js
Due: npx prettier --write, npx eslint --fix

[ADD] add dm romm controller
  pong/app/controllers/api/dm_rooms_controller.rb
Due: none

[FIX] change app.user (you usually get by Radio) from json to model
  pong/app/javascript/srcs/app.js
  pong/app/javascript/srcs/collections/BlockCollection.js
  pong/app/javascript/srcs/views/ChatView.js
Due: npx prettier --write, npx eslint --fix

[FIX] you must initialize model using new model.XXXX({id: id});
  pong/app/javascript/srcs/app.js
  pong/app/javascript/srcs/models/UserModel.js
Due: npx prettier --write, npx eslint --fix

[ADD] add default profile image
  pong/public/images/default-profile.png
Due: none

[UPDATE] make MyPageView show currrently saved values from user model
  pong/app/javascript/srcs/router.js
  pong/app/javascript/srcs/templates/MyPageView.html
Due: npx prettier --write, npx eslint --fix

[UPDATE] add permission error class and add name method to dmroom
  pong/app/controllers/api/dm_rooms_controller.rb
  pong/app/models/dm_room.rb
  pong/app/models/dm_rooms_member.rb
Due: none

[FIX] minor changes
  pong/app/controllers/api/blocks_controller.rb
  pong/app/controllers/api/guilds_controller.rb
  pong/app/controllers/api/users_controller.rb
Due: none

[FIX] fix bug that MainView loaded twice
  pong/app/javascript/srcs/app.js
Due: npx prettier --write, npx eslint --fix

[FIX] fix UserModel url bug
  pong/app/javascript/srcs/models/UserModel.js
Due: npx prettier --write, npx eslint --fix

[ADD] add test for dm
  pong/test/controllers/api/chat_rooms_controller_test.rb
  pong/test/controllers/api/dm_room_messages_controller_test.rb
  pong/test/controllers/api/dm_rooms_controller_test.rb
  pong/test/controllers/api/dm_rooms_members_controller_test.rb
  pong/test/fixtures/dm_room_messages.yml
  pong/test/fixtures/dm_rooms.yml
  pong/test/fixtures/dm_rooms_members.yml
Due: none

[ADD] add test for dm_room destroy
  pong/test/controllers/api/dm_rooms_members_controller_test.rb
Due: none

[ADD] add template class for message controller
  pong/app/controllers/api/chat_room_messages_controller.rb
  pong/app/controllers/api/dm_room_messages_controller.rb
  pong/app/controllers/api/room_messages_controller.rb
Due: none

[FIX] fix route
  pong/config/routes.rb
Due: none

[REFACTOR] refactor by rubocop
  pong/db/migrate/20210428070949_create_dm_rooms.rb
Due: none

[UPDATE] update api controller for dm_room
  pong/app/controllers/api/dm_rooms_controller.rb
  pong/app/controllers/api/dm_rooms_members_controller.rb
  pong/app/controllers/application_controller.rb
Due: none
