Repository NavyBye/ft_transcendence: changes, and which lint-staged commands are due for each by the changed paths.
All: npx prettier --write, npx eslint --fix

.lintstagedrc:

{
  "*.js": ["npx prettier --write", "npx eslint --fix"],
  "*.html": ["npx prettier --write"],
  "*.css": ["npx prettier --write"],
}

[ADD] give owner/admin permissions
  pong/app/controllers/api/blocks_controller.rb
  pong/app/controllers/api/friends_controller.rb
  pong/app/models/guild.rb
  pong/app/models/guild_member.rb
Due: none

[FIX] block and friend 2nd argument name
  pong/app/controllers/api/blocks_controller.rb
  pong/app/controllers/api/friends_controller.rb
Due: none

[FIX] block and friend 2nd argument name in routes
  pong/config/routes.rb
Due: none

[FIX] bug about parameter
  pong/app/controllers/api/blocks_controller.rb
  pong/app/controllers/api/friends_controller.rb
Due: none

[ADD] now SideView reply to sideview request
  pong/app/javascript/srcs/views/SideView.js
Due: npx prettier --write, npx eslint --fix

[FIX] fix block/unblock on UserProfileModalView
  pong/app/javascript/srcs/app.js
  pong/app/javascript/srcs/views/UserProfileModalView.js
Due: npx prettier --write, npx eslint --fix

[UPDATE] now SideView listens also to 'enter-dmroom'
  pong/app/javascript/srcs/views/SideView.js
Due: npx prettier --write, npx eslint --fix

[ADD] broadcast status when login/out
  pong/app/controllers/users/omniauth_callbacks_controller.rb
  pong/app/controllers/users/registrations_controller.rb
  pong/app/controllers/users/sessions_controller.rb
  pong/app/models/user.rb
Due: none

[UPDATE] update github action
  .github/workflows/rails-test.yml
Due: none

[FIX] test param argument name
  pong/app/models/user.rb
  pong/test/controllers/api/blocks_controller_test.rb
  pong/test/controllers/api/friends_controller_test.rb
Due: none

[FIX] fix routing when signup
  pong/app/javascript/srcs/views/LoginView.js
Due: npx prettier --write, npx eslint --fix

[ADD] add basic DM functionality
  pong/app/javascript/srcs/collections/DmCollection.js
  pong/app/javascript/srcs/templates/DmRoomView.html
  pong/app/javascript/srcs/views/DmCollectionView.js
  pong/app/javascript/srcs/views/DmRoomView.js
  pong/app/javascript/srcs/views/DmView.js
  pong/app/javascript/srcs/views/SideView.js
  pong/app/javascript/srcs/views/UserProfileModalView.js
Due: npx prettier --write, npx eslint --fix

[FIX] add order
  pong/app/controllers/api/room_messages_controller.rb
Due: none

[FIX] rm put
  pong/app/controllers/api/room_messages_controller.rb
Due: none

Add Codacy badge
  README.md
Due: none

[ADD] now blocked user's message is filtered
  pong/app/javascript/srcs/views/ChatView.js
  pong/app/javascript/srcs/views/DmView.js
Due: npx prettier --write, npx eslint --fix

[FIX] error format about redirect
  pong/app/controllers/application_controller.rb
Due: none

[ADD] apply error format according to issue #103
  pong/app/javascript/srcs/app.js
Due: npx prettier --write, npx eslint --fix

[ADD] Signal action cable
  pong/app/channels/signal_channel.rb
  pong/app/controllers/application_controller.rb
  pong/app/helpers/application_helper.rb
  pong/app/javascript/channels/signal_channel.js
  pong/test/channels/signal_channel_test.rb
Due: npx prettier --write, npx eslint --fix

[ADD] improve style
  pong/app/javascript/srcs/templates/MyPageView.html
  pong/public/css/my-page.css
Due: npx prettier --write

[ADD] add basic signal handler
  pong/app/javascript/srcs/app.js
Due: npx prettier --write, npx eslint --fix

[ADD] game, game_player model and db:migrate
  pong/app/models/game.rb
  pong/app/models/game_player.rb
  pong/db/migrate/20210506091338_create_games.rb
  pong/db/migrate/20210506091837_create_game_players.rb
  pong/db/schema.rb
  pong/test/fixtures/game_players.yml
  pong/test/fixtures/games.yml
  pong/test/models/game_player_test.rb
  pong/test/models/game_test.rb
Due: none

[ADD] add signal redirect handler
  pong/app/javascript/srcs/app.js
Due: npx prettier --write, npx eslint --fix

[ADD] add fetch signal handler for chatrooms
  pong/app/javascript/srcs/views/ChatRoomCollectionView.js
Due: npx prettier --write, npx eslint --fix

[ADD] game_queue model and db:migrate
  pong/app/models/game_queue.rb
  pong/db/migrate/20210506092944_create_game_queues.rb
  pong/db/schema.rb
  pong/test/fixtures/game_queues.yml
  pong/test/models/game_queue_test.rb
Due: none

[CHANGE] type column to game_type
  pong/db/migrate/20210506100230_change_column_name.rb
  pong/db/schema.rb
Due: none

[ADD] associations and model basic validations
  pong/app/models/game.rb
  pong/app/models/game_player.rb
  pong/app/models/game_queue.rb
  pong/app/models/user.rb
  pong/test/fixtures/games.yml
Due: none

[FIX] follow error format
  pong/app/javascript/srcs/views/InputPasswordModalView.js
  pong/app/javascript/srcs/views/MyPageView.js
Due: npx prettier --write, npx eslint --fix

[REMOVE] remove unused radio blacklist.filter
  pong/app/javascript/srcs/app.js
Due: npx prettier --write, npx eslint --fix

[UPDATE] apply user profile image to UserInfoView
  pong/app/javascript/srcs/templates/UserInfoView.html
Due: npx prettier --write

[FIX] fix chatroom collection overflow (css style)
  pong/public/css/side.css
Due: npx prettier --write

[UPDATE] add ban mute free feature
  pong/app/controllers/api/chat_rooms_members_controller.rb
  pong/app/jobs/chat_rooms_member_ban_recovery_job.rb
  pong/app/jobs/chat_rooms_member_mute_recovery_job.rb
  pong/app/jobs/chat_rooms_member_recovery_job.rb
  pong/config/routes.rb
  pong/db/migrate/20210506050131_change_chat_rooms_members.rb
  pong/db/schema.rb
  pong/test/controllers/api/chat_rooms_members_controller_test.rb
Due: none

[REFACTOR] refactor by rubocop
  pong/app/controllers/api/room_messages_controller.rb
Due: none

[UPDATE] rm not usable enum
  pong/app/models/chat_rooms_member.rb
Due: none

[UPDATE] Friend View
  pong/app/javascript/srcs/collections/FriendCollection.js
  pong/app/javascript/srcs/views/FriendCollectionView.js
Due: npx prettier --write, npx eslint --fix

[UPDATE] Friendlist Radio
  pong/app/javascript/srcs/app.js
  pong/app/javascript/srcs/views/SideView.js
Due: npx prettier --write, npx eslint --fix

[FIX] change subscribe collectionView->View
  pong/app/javascript/srcs/views/FriendCollectionView.js
  pong/app/javascript/srcs/views/FriendView.js
Due: npx prettier --write, npx eslint --fix

[FIX] fix friend view status-num -> status-str
  pong/public/css/friend-collection.css
Due: npx prettier --write

[ADD] enum to game_queue
  pong/app/models/game_queue.rb
Due: none
