Repository NavyBye/ft_transcendence: changes, and which lint-staged commands are due for each by the changed paths.
All: npx prettier --check, npx eslint --fix, npx prettier --write

.lintstagedrc:

{
  "*.js": ["npx prettier --check", "npx eslint --fix"],
  "*.html": ["npx prettier --write"]
}

[FIX] using on-collection instead of raw route
  pong/config/routes.rb
Due: none

[FIX] fix layout style
  pong/public/css/chat.css
  pong/public/css/main.css
  pong/public/css/side.css
Due: none

[FIX] fix button padding, height
  pong/public/css/chat.css
Due: none

[ADD] user api a few simple tests with devise helper
  pong/test/controllers/api/users_controller_test.rb
Due: none

[REFACTOR] refactor
  pong/config/routes.rb
Due: none

[FIX] update method fixed to bang mode(raise exception, not boolean)
  pong/app/controllers/api/users_controller.rb
Due: none

[UPDATE] make chatcollectionview pretty
  pong/app/javascript/srcs/templates/ChatCollectionView.html
  pong/app/javascript/srcs/templates/SideView.html
  pong/app/views/layouts/application.html.erb
  pong/public/css/chat.css
  pong/public/css/side.css
  pong/public/images/send-icon.png
Due: npx prettier --write

[UPDATE] db schema of feature/chatroom
  pong/db/schema.rb
Due: none

[ADD] add media query for side and fix prettier
  pong/public/css/chatroom-collection.css
  pong/public/css/login.css
  pong/public/css/side.css
  pong/public/css/util.css
Due: none

[ADD] carrierwave gem & UserImageUploader make and mount to user
  pong/Gemfile
  pong/app/models/user.rb
  pong/app/uploaders/user_image_uploader.rb
  pong/db/migrate/20210415055208_add_image_to_users.rb
  pong/db/schema.rb
Due: none

[ADD] carrierwave applied to controller & configuration
  pong/app/controllers/api/users_controller.rb
  pong/app/uploaders/user_image_uploader.rb
Due: none

[ADD] add recv, send template
  pong/app/javascript/srcs/templates/RecvChatView.html
  pong/app/javascript/srcs/templates/SendChatView.html
Due: npx prettier --write

[FIX] fix import view
  pong/app/javascript/srcs/views/MainView.js
  pong/app/javascript/srcs/views/RootView.js
Due: npx prettier --check, npx eslint --fix

[ADD] user:update action right case test
  pong/app/controllers/api/users_controller.rb
  pong/test/controllers/api/users_controller_test.rb
Due: none

[REFACTOR] rubocop correction
  pong/.rubocop.yml
  pong/app/uploaders/user_image_uploader.rb
  pong/test/controllers/api/users_controller_test.rb
Due: none

[ADD] friend model
  pong/app/models/friend.rb
  pong/db/migrate/20210415075145_create_friends.rb
  pong/db/schema.rb
  pong/test/fixtures/friends.yml
  pong/test/models/friend_test.rb
Due: none

[ADD] added association, user has many friendship
  pong/app/models/user.rb
Due: none

[ADD] add friend routes and controller
  pong/app/assets/stylesheets/api/friends.scss
  pong/app/controllers/api/friends_controller.rb
  pong/app/helpers/api/friends_helper.rb
  pong/app/views/api/friends/create.html.erb
  pong/app/views/api/friends/destroy.html.erb
  pong/app/views/api/friends/index.html.erb
  pong/config/routes.rb
  pong/test/controllers/api/friends_controller_test.rb
Due: none

[ADD] further implementation of Friend
  pong/app/controllers/api/friends_controller.rb
  pong/config/environment.rb
  pong/config/routes.rb
Due: none

[FIX] routes minor bug
  pong/config/routes.rb
Due: none

[ADD] add chatroom CRUD test
  pong/test/controllers/api/chat_rooms_controller_test.rb
  pong/test/fixtures/chat_rooms.yml
  pong/test/models/chat_room_test.rb
Due: none

[ADD] migrate chat_room
  pong/db/migrate/20210409062240_create_chat_rooms.rb
  pong/db/schema.rb
Due: none

[UPDATE] update chatroom api, model for encrypt password
  pong/app/controllers/api/chat_rooms_controller.rb
  pong/app/models/chat_room.rb
Due: none

[ADD] users resource routes
  pong/config/routes.rb
Due: none

[ADD] not_implemented actions
  pong/app/controllers/api/users_controller.rb
Due: none

[REFACTOR] and fix minor model issues
  pong/app/controllers/api/friends_controller.rb
  pong/app/helpers/api/friends_helper.rb
  pong/app/models/user.rb
  pong/config/environment.rb
  pong/test/controllers/api/friends_controller_test.rb
Due: none

[FIX] delete weird controller tests
  pong/test/controllers/api/friends_controller_test.rb
  pong/test/controllers/home_controller_test.rb
Due: none

[FIX] fix CollectionView
  pong/app/javascript/srcs/common/CollectionView.js
  pong/app/javascript/srcs/views/index.js
Due: npx prettier --check, npx eslint --fix

[FIX] gitignore, lintstagedrc
  .gitignore
  .lintstagedrc
Due: none

[ADD] self_follow validation
  pong/app/models/friend.rb
  pong/test/models/friend_test.rb
Due: none

[ADD] blocks model
  pong/app/models/block.rb
  pong/db/migrate/20210416061746_create_blocks.rb
  pong/db/schema.rb
  pong/test/fixtures/blocks.yml
  pong/test/models/block_test.rb
Due: none

[FIX] fix conflict
  .lintstagedrc
Due: none

[ADD] block controller
  pong/app/assets/stylesheets/api/blocks.scss
  pong/app/controllers/api/blocks_controller.rb
  pong/app/helpers/api/blocks_helper.rb
  pong/app/views/api/blocks/create.html.erb
  pong/app/views/api/blocks/delete.html.erb
  pong/app/views/api/blocks/index.html.erb
  pong/test/controllers/api/blocks_controller_test.rb
Due: none

[ADD] unique combination validate
  pong/test/models/friend_test.rb
Due: none

[ADD] add configuration for frontend
  pong/config/webpack/environment.js
  pong/package.json
Due: npx prettier --check, npx eslint --fix

[UPDATE] add 2 column indexing to friends/blocks table
  pong/db/migrate/20210416064528_add_unique_index_to_friends.rb
  pong/db/migrate/20210416064659_add_unique_index_to_blocks.rb
  pong/db/schema.rb
Due: none

[ADD] add ChatRoom view, template, model, collection
  pong/app/javascript/srcs/collections/ChatRoomCollection.js
  pong/app/javascript/srcs/models/ChatRoomModel.js
  pong/app/javascript/srcs/templates/ChatRoomCollectionView.html
  pong/app/javascript/srcs/templates/ChatRoomView.html
  pong/app/javascript/srcs/views/ChatRoomCollectionView.js
  pong/app/javascript/srcs/views/ChatRoomView.js
Due: npx prettier --check, npx eslint --fix, npx prettier --write

[ADD] add DmChatRoom model, collection, view, template
  pong/app/javascript/srcs/collections/DmRoomCollection.js
  pong/app/javascript/srcs/models/DmRoomModel.js
  pong/app/javascript/srcs/templates/DmRoomCollectionView.html
Due: npx prettier --check, npx eslint --fix, npx prettier --write

[ADD] add chat model, view, collection, template
  pong/app/javascript/srcs/collections/ChatCollection.js
  pong/app/javascript/srcs/models/ChatModel.js
  pong/app/javascript/srcs/templates/RecvChatView.html
  pong/app/javascript/srcs/views/ChatCollectionView.js
Due: npx prettier --check, npx eslint --fix, npx prettier --write

[ADD] add DmChat Collection, model
  pong/app/javascript/srcs/collections/DmChatCollection.js
  pong/app/javascript/srcs/models/DmChatModel.js
Due: npx prettier --check, npx eslint --fix
