Repository NavyBye/ft_transcendence: changes, and which lint-staged commands are due for each by the changed paths.
All: npx prettier --write, npx eslint --fix

.lintstagedrc:

{
  "*.js": ["npx prettier --write", "npx eslint --fix"],
  "*.html": ["npx prettier --write"],
  "*.css": ["npx prettier --write"],
}

[ADD] and fixes controller functional tests
  pong/test/controllers/api/guild_members_controller_test.rb
  pong/test/controllers/api/guilds_controller_test.rb
  pong/test/controllers/api/invites_controller_test.rb
  pong/test/controllers/api/users_controller_test.rb
Due: none

[FIX] guild backend 0.9v
  pong/app/controllers/api/guilds_controller.rb
  pong/app/models/guild.rb
  pong/test/controllers/api/guilds_controller_test.rb
Due: none

[REFACTOR] controllers functional tests
  pong/.rubocop.yml
  pong/test/controllers/api/guild_members_controller_test.rb
  pong/test/controllers/api/invites_controller_test.rb
Due: none

[FIX] fix chat model chat model에서 user 부분 서버에서 주는 방식 그대로 사용하도록 수정
  pong/app/javascript/srcs/models/ChatModel.js
  pong/app/javascript/srcs/templates/RecvChatView.html
  pong/app/javascript/srcs/templates/SideView.html
  pong/app/javascript/srcs/views/ChatView.js
Due: npx prettier --write, npx eslint --fix

[UPDATE] chat send기능 구현
  pong/app/javascript/srcs/views/ChatCollectionView.js
Due: npx prettier --write, npx eslint --fix

[UPDATE] move AddChatRoomModal to RootView template
  pong/app/javascript/srcs/templates/ChatRoomCollectionView.html
  pong/app/javascript/srcs/templates/RootView.html
  pong/public/images/patches-4.4.267-rt221.tar.gz
Due: npx prettier --write

[REMOVE] remove accidently added file
  pong/public/images/patches-4.4.267-rt221.tar.gz
Due: none

[UPDATE] separate AddChatRoom to have own view
  pong/app/javascript/srcs/templates/RootView.html
  pong/app/javascript/srcs/views/AddChatRoomModalView.js
  pong/app/javascript/srcs/views/ChatRoomCollectionView.js
Due: npx prettier --write, npx eslint --fix

[UPDATE] make password enabled when checkbox is clicked in AddChatRoomModalBox
  pong/app/javascript/srcs/templates/RootView.html
  pong/app/javascript/srcs/views/AddChatRoomModalView.js
Due: npx prettier --write, npx eslint --fix

[FIX] explicitly initialize status of "public room" button in AddChatRoomModalView
  pong/app/javascript/srcs/views/AddChatRoomModalView.js
Due: npx prettier --write, npx eslint --fix

[ADD] add ChatRoomSettingModalView
  pong/app/javascript/srcs/templates/ChatCollectionView.html
  pong/app/javascript/srcs/templates/SideView.html
  pong/app/javascript/srcs/views/ChatCollectionView.js
  pong/app/javascript/srcs/views/ChatRoomSettingModalView.js
Due: npx prettier --write, npx eslint --fix

[FIX] fix AddChatRoomModalView
  pong/app/javascript/srcs/templates/RootView.html
  pong/app/javascript/srcs/views/AddChatRoomModalView.js
Due: npx prettier --write, npx eslint --fix

[FIX] fix ChatRoomSettingModalView
  pong/app/javascript/srcs/templates/SideView.html
  pong/app/javascript/srcs/views/ChatRoomSettingModalView.js
Due: npx prettier --write, npx eslint --fix

[ADD] Invite model and migrated
  pong/app/models/guild_member.rb
  pong/app/models/invite.rb
  pong/db/migrate/20210425092041_create_invites.rb
  pong/db/schema.rb
  pong/test/fixtures/invites.yml
  pong/test/models/invite_test.rb
Due: none

[FIX] invite validation and fixtures
  pong/app/models/invite.rb
  pong/test/fixtures/invites.yml
Due: none

[ADD] invite associations to user and guild models
  pong/app/models/guild.rb
  pong/app/models/invite.rb
  pong/app/models/user.rb
Due: none

[ADD] model test base
  pong/test/models/invite_test.rb
Due: none

[ADD] invite controller basics
  pong/app/assets/stylesheets/api/invites.scss
  pong/app/controllers/api/invites_controller.rb
  pong/app/helpers/api/invites_helper.rb
  pong/config/routes.rb
  pong/test/controllers/api/invites_controller_test.rb
  pong/test/models/invite_test.rb
Due: none

[ADD] add ChatRoomUserModal base
  pong/app/javascript/srcs/collections/ChatRoomUserCollection.js
  pong/app/javascript/srcs/models/ChatRoomUserModel.js
  pong/app/javascript/srcs/templates/ChatRoomUserModal.html
  pong/app/javascript/srcs/views/ChatCollectionView.js
  pong/app/javascript/srcs/views/ChatRoomUserCollectionModalView.js
  pong/app/javascript/srcs/views/ChatRoomUserModalView.js
Due: npx prettier --write, npx eslint --fix

[FIX] fix typo
  pong/app/javascript/srcs/templates/RecvChatView.html
Due: npx prettier --write

[FIX] fix router and rootview race condition
  pong/app/javascript/srcs/app.js
Due: npx prettier --write, npx eslint --fix

[ADD] add bootstrap-menu
  pong/package.json
Due: none

[ADD] add Destroy contextmenu in ChatRoomCollectionView
  pong/app/javascript/srcs/templates/ChatRoomView.html
  pong/app/javascript/srcs/views/ChatRoomView.js
Due: npx prettier --write, npx eslint --fix

[FIX] fix friends#create error
  pong/app/controllers/api/friends_controller.rb
Due: none

[ADD] add context menu in ChatView
  pong/app/javascript/srcs/views/ChatView.js
Due: npx prettier --write, npx eslint --fix

[UPDATE] add templates have it's own id for context menu
  pong/app/javascript/srcs/templates/ChatRoomUserModal.html
  pong/app/javascript/srcs/templates/ChatRoomView.html
  pong/app/javascript/srcs/templates/RecvChatView.html
Due: npx prettier --write

[ADD] make Friend View displayed
  pong/app/javascript/srcs/collections/FriendCollection.js
  pong/app/javascript/srcs/views/SideView.js
Due: npx prettier --write, npx eslint --fix

[FIX] fix router class name
  pong/config/routes.rb
Due: none

[ADD] add pagination
  pong/app/javascript/srcs/collections/ChatCollection.js
  pong/app/javascript/srcs/views/ChatCollectionView.js
Due: npx prettier --write, npx eslint --fix

[ADD] add active job for chat room member
  pong/app/jobs/chat_rooms_member_update_status_job.rb
Due: none

[ADD] add error class for ChatRoomsMember
  pong/app/models/chat_rooms_member.rb
Due: none

[ADD] add friend remove button
  pong/app/javascript/srcs/templates/FriendView.html
  pong/app/javascript/srcs/views/FriendView.js
Due: npx prettier --write, npx eslint --fix

[ADD] add User profile modal Base 테스트를 위해서 chatview에서 user 이미지 눌렀을때 profile modal뜨게 하였음(context menu로 이동해야함) profile modal에서 User, history 받아오기 까지 구현 완료 -> 디자인 해야함
  pong/app/javascript/srcs/collections/UserHistoryCollection.js
  pong/app/javascript/srcs/models/UserHistoryModel.js
  pong/app/javascript/srcs/models/UserModel.js
  pong/app/javascript/srcs/templates/SideView.html
  pong/app/javascript/srcs/templates/UserHistoryCollectionView.html
  pong/app/javascript/srcs/templates/UserHistoryView.html
  pong/app/javascript/srcs/templates/UserInfoView.html
  pong/app/javascript/srcs/views/ChatView.js
  pong/app/javascript/srcs/views/UserHistoryCollectionView.js
  pong/app/javascript/srcs/views/UserHistoryView.js
  pong/app/javascript/srcs/views/UserInfoView.js
  pong/app/javascript/srcs/views/UserProfileModalView.js
Due: npx prettier --write, npx eslint --fix

[REFACTOR] remove stdout func
  pong/test/channels/chat_room_channel_test.rb
Due: none

[UPDATE] User Profile modal design update 대략적인 틀 + 위치 잡아놓음 button size, font 등 설정해야함
  pong/app/javascript/srcs/templates/SideView.html
  pong/app/javascript/srcs/templates/UserHistoryCollectionView.html
  pong/app/javascript/srcs/templates/UserHistoryView.html
  pong/app/javascript/srcs/templates/UserInfoView.html
Due: npx prettier --write

[FIX] fix this -> self
  pong/app/javascript/srcs/views/UserProfileModalView.js
Due: npx prettier --write, npx eslint --fix

[UPDATE] User profile modal 기능 추가(add friend, block)
  pong/app/javascript/srcs/templates/UserInfoView.html
  pong/app/javascript/srcs/views/UserProfileModalView.js
Due: npx prettier --write, npx eslint --fix

[ADD] add BlockModel, BlockCollection for blacklist
  pong/app/javascript/srcs/collections/BlockCollection.js
  pong/app/javascript/srcs/models/BlockModel.js
Due: npx prettier --write, npx eslint --fix

[ADD] add blacklist filter reply
  pong/app/javascript/srcs/app.js
Due: npx prettier --write, npx eslint --fix

[ADD] update filter, add isBlocked, block, unblock reply
  pong/app/javascript/srcs/app.js
Due: npx prettier --write, npx eslint --fix
