Repository NavyBye/ft_transcendence: changes, and which lint-staged commands are due for each by the changed paths.
All: npx prettier --write, npx eslint --fix

[ADD] guild_id in members index
  pong/app/controllers/api/guild_members_controller.rb
  pong/app/views/api/guild_members/index.json.jbuilder
Due: none

[ADD] error for guild-master degradation
  pong/app/controllers/api/guild_members_controller.rb
Due: none

[ADD] add admin guild modal
  pong/app/javascript/srcs/templates/RootView.html
  pong/app/javascript/srcs/views/AdminGuildMemberCollectionView.js
  pong/app/javascript/srcs/views/AdminGuildMemberView.js
  pong/app/javascript/srcs/views/AdminGuildModalView.js
  pong/app/javascript/srcs/views/AdminGuildView.js
  pong/db/schema.rb
Due: npx prettier --write, npx eslint --fix

[UPDATE] change display user info in AdminUserCollection Nickname, name, role -> Nickname, role, is_banned
  pong/app/javascript/srcs/templates/AdminUserCollectionView.html
  pong/app/javascript/srcs/templates/AdminUserView.html
  pong/app/javascript/srcs/views/AdminUserView.js
Due: npx prettier --write, npx eslint --fix

[ADD] add AdminTournamentView Base
  pong/app/javascript/srcs/templates/AdminTournamentView.html
  pong/app/javascript/srcs/views/AdminTournamentView.js
Due: npx prettier --write, npx eslint --fix

[UPDATE] reRender(use Radio) after change user role in admin page
  pong/app/javascript/srcs/views/AdminUserView.js
  pong/app/javascript/srcs/views/AdminView.js
Due: npx prettier --write, npx eslint --fix

[UPDATE] move AddChatRoomView out of ChatRoomCollectionView
  pong/app/javascript/srcs/templates/ChatRoomCollectionView.html
  pong/public/css/chatroom-collection.css
Due: npx prettier --write

[FIX] Make ChatRoomCollectionView re-render
  pong/app/javascript/srcs/views/ChatRoomCollectionView.js
Due: npx prettier --write, npx eslint --fix

[UPDATE] Make admin, owner invisible on ChatRoomUserCollectionView
  pong/app/javascript/srcs/views/ChatRoomUserView.js
Due: npx prettier --write, npx eslint --fix

[FIX] fix improper way to get user id
  pong/app/javascript/srcs/views/ChatRoomView.js
Due: npx prettier --write, npx eslint --fix

[UPDATE] make owner, admin be able to join private chatroom without password
  pong/app/javascript/srcs/views/ChatRoomView.js
Due: npx prettier --write, npx eslint --fix

[FIX] guild master->master double render error
  pong/app/controllers/api/guild_members_controller.rb
  pong/test/controllers/api/guild_members_controller_test.rb
Due: none

[FIX] fix conflict template id (guild-info, admin-guild-modal)
  pong/app/javascript/srcs/templates/AdminGuildMemberCollectionView.html
  pong/app/javascript/srcs/templates/AdminGuildMemberView.html
  pong/app/javascript/srcs/templates/RootView.html
  pong/app/javascript/srcs/views/AdminGuildMemberCollectionView.js
  pong/app/javascript/srcs/views/AdminGuildMemberView.js
  pong/app/javascript/srcs/views/AdminGuildModalView.js
Due: npx prettier --write, npx eslint --fix

[FIX] change template
  pong/app/javascript/srcs/views/AdminGuildMemberView.js
Due: npx prettier --write, npx eslint --fix

[FIX] availability check to model
  pong/app/controllers/api/games_controller.rb
  pong/app/models/game.rb
Due: none

[ADD] war time match availability check
  pong/app/models/game.rb
  pong/test/controllers/api/games_controller_test.rb
Due: none

[ADD] war-time match matchmaking
  pong/app/controllers/api/games_controller.rb
  pong/app/controllers/application_controller.rb
  pong/app/models/game.rb
  pong/app/models/game_queue.rb
  pong/app/models/war_guild.rb
  pong/test/controllers/api/games_controller_test.rb
Due: none

[ADD] war-match timeover job
  pong/app/jobs/queue_timeover_job.rb
  pong/app/models/game_queue.rb
Due: none

[REFACTOR] with rubocop
  pong/app/controllers/api/games_controller.rb
  pong/app/models/game_queue.rb
  pong/test/controllers/api/games_controller_test.rb
Due: none

[ADD] war matchmaking
  pong/app/models/game.rb
  pong/test/controllers/api/games_controller_test.rb
Due: none

[UPDATE] add start_at field to tournament
  pong/db/migrate/20210525070405_create_tournaments.rb
  pong/db/schema.rb
Due: none

[ADD] test about same-guild conflict
  pong/test/controllers/api/games_controller_test.rb
Due: none

[FIX] friend returns all data
  pong/app/controllers/api/friends_controller.rb
Due: none

[FIX] unnecessary method delete
  pong/app/models/user.rb
Due: none

[ADD] basic status track with friend unsub
  pong/app/channels/friend_channel.rb
Due: none

[ADD] status update to online when game/cancel
  pong/app/controllers/api/games_controller.rb
Due: none

[ADD] add spectate button
  pong/app/javascript/srcs/templates/UserInfoView.html
  pong/app/javascript/srcs/views/UserProfileModalView.js
  pong/public/uploads/user/image/1010528735/VFS.png
Due: npx prettier --write, npx eslint --fix

[FIX] users/game jbuilder view
  pong/app/views/api/users/game.json.jbuilder
Due: none

[FIX] users/game return 404 when no game
  pong/app/controllers/api/users_controller.rb
  pong/app/views/api/users/game.json.jbuilder
Due: none

[ADD] ban check
  pong/app/controllers/application_controller.rb
Due: none

[ADD] add banned page
  pong/app/javascript/srcs/router.js
  pong/app/javascript/srcs/templates/BannedView.html
  pong/app/javascript/srcs/views/BannedView.js
  pong/public/images/banned.gif
Due: npx prettier --write, npx eslint --fix

[ADD] is_banned check filter
  pong/app/controllers/api/users_controller.rb
  pong/app/controllers/application_controller.rb
  pong/app/controllers/home_controller.rb
  pong/app/controllers/users/confirmations_controller.rb
  pong/app/controllers/users/omniauth_callbacks_controller.rb
  pong/app/controllers/users/passwords_controller.rb
  pong/app/controllers/users/registrations_controller.rb
  pong/app/controllers/users/sessions_controller.rb
  pong/app/controllers/users/unlocks_controller.rb
  pong/app/models/user.rb
Due: none

[ADD] add Ladder Torunament Modal
  pong/app/javascript/srcs/templates/RootView.html
  pong/app/javascript/srcs/views/ChallengeModalView.js
Due: npx prettier --write, npx eslint --fix

[UPDATE] show LadderModal when click ladder tournament card
  pong/app/javascript/srcs/views/LadderTournamentCardView.js
Due: npx prettier --write, npx eslint --fix

[ADD] simple banned test
  pong/app/controllers/application_controller.rb
  pong/test/controllers/api/users_controller_test.rb
Due: none

[ADD] add challenge collection, template, view
  pong/app/javascript/srcs/collections/ChallengeCollection.js
  pong/app/javascript/srcs/templates/ChallengeCollectionView.html
  pong/app/javascript/srcs/templates/ChallengeView.html
  pong/app/javascript/srcs/views/ChallengeCollectionView.js
  pong/app/javascript/srcs/views/ChallengeView.js
Due: npx prettier --write, npx eslint --fix

[FIX] fix RPM Modal gametype
  pong/app/javascript/srcs/views/RequestPongMatchModalView.js
Due: npx prettier --write, npx eslint --fix

[REMOVE] remove hyeyoo profile image
  pong/public/uploads/user/image/1010528735/VFS.png
Due: none

[UPDATE] Redirect to #banned when fetching user data
  pong/app/javascript/srcs/app.js
Due: npx prettier --write, npx eslint --fix

[REMOVE] console log
  pong/app/javascript/srcs/views/UserProfileModalView.js
Due: npx prettier --write, npx eslint --fix

Path conditions:
  npx prettier --write: ((any of: *.js) or (any of: *.html)) or (any of: *.css)
  npx eslint --fix: any of: *.js
