Repository NavyBye/ft_transcendence: changes, and which lint-staged commands are due for each by the changed paths.
All: npx prettier --write, npx eslint --fix

.lintstagedrc:

{
  "*.js": ["npx prettier --write", "npx eslint --fix"],
  "*.html": ["npx prettier --write"],
  "*.css": ["npx prettier --write"],
}

[FIX] fix fixtures
  pong/test/fixtures/tournament_participants.yml
Due: none

[UPDATE] tournament open in admin page
  pong/app/javascript/srcs/templates/AdminTournamentView.html
  pong/app/javascript/srcs/views/AdminTournamentView.js
  pong/public/css/admin.css
Due: npx prettier --write, npx eslint --fix

[FIX] Fix HTML injection in chatroom creation
  pong/app/controllers/api/chat_rooms_controller.rb
Due: none

[FIX] fix typo
  pong/app/javascript/srcs/templates/AdminTournamentView.html
Due: npx prettier --write

[FIX] Fix HTML injection in nickname
  pong/app/controllers/api/users_controller.rb
Due: none

[REFACTOR] trailing space remove
  pong/test/controllers/api/tournament_participants_controller_test.rb
Due: none

[FIX] Fix HTML injection in guild creation
  pong/app/controllers/api/guilds_controller.rb
Due: none

[FIX] fix length-zero-no-unit
  pong/public/css/admin.css
Due: npx prettier --write

[REFACTOR] make test pass and rubocop refactored
  pong/app/channels/chat.rb
  pong/app/controllers/api/chat_rooms_controller.rb
  pong/app/controllers/api/guilds_controller.rb
  pong/app/controllers/api/users_controller.rb
Due: none

[REMOVE] Remove toggle button T.T
  pong/app/javascript/srcs/templates/NavView.html
  pong/app/javascript/srcs/views/NavView.js
Due: npx prettier --write, npx eslint --fix

[UPDATE] change toggle to special mode
  pong/app/javascript/srcs/game/GameReceiver.js
  pong/public/uploads/user/image/6/___img_img.jpg
Due: npx prettier --write, npx eslint --fix

[REMOVE] remove image
  pong/public/uploads/user/image/6/___img_img.jpg
Due: none

[UPDATE] add apply tournament
  pong/app/javascript/srcs/views/TournamentCardView.js
Due: npx prettier --write, npx eslint --fix

[UPDATE] change column name
  pong/app/models/tournament_participant.rb
  pong/db/migrate/20210601045252_change_tournament_column_name.rb
  pong/db/schema.rb
Due: none

[FIX] fix routes
  pong/config/routes.rb
  pong/test/controllers/api/tournament_participants_controller_test.rb
  pong/test/fixtures/tournaments.yml
Due: none

[ADD] add tournament controller
  pong/app/controllers/api/tournaments_controller.rb
  pong/app/controllers/application_controller.rb
Due: none

[UPDATE] test controller
  pong/test/controllers/api/tournament_controller_test.rb
Due: none

[UPDATE] add validator
  pong/app/models/tournament.rb
Due: none

[ADD] add scoreboard
  pong/app/javascript/srcs/game/GameReceiver.js
  pong/app/javascript/srcs/templates/GamePlayView.html
  pong/public/css/game-play.css
Due: npx prettier --write, npx eslint --fix

[FIX] fix typo
  pong/app/javascript/srcs/views/TournamentCardView.js
Due: npx prettier --write, npx eslint --fix

[ADD] add GamePlayView border
  pong/app/javascript/srcs/game/GameReceiver.js
  pong/public/css/game-play.css
Due: npx prettier --write, npx eslint --fix

[FIX] avoid_chance filled, war_matchmaking bugs fixed
  pong/app/controllers/api/games_controller.rb
  pong/app/models/declaration.rb
Due: none

[FIX] fix typo
  pong/app/javascript/srcs/views/GuildManageView.js
Due: npx prettier --write, npx eslint --fix

[UPDATE] chat, dm, friend profile image url update
  pong/app/javascript/srcs/templates/FriendView.html
  pong/app/javascript/srcs/templates/RecvChatView.html
Due: npx prettier --write

[UPDATE] add anagram to messages
  pong/app/channels/chat.rb
  pong/app/controllers/api/room_messages_controller.rb
Due: none

[UPDATE] update mypage template
  pong/app/javascript/srcs/templates/MyPageView.html
  pong/public/css/my-page.css
Due: npx prettier --write

[UPDATE] show anagram in chatview
  pong/app/javascript/srcs/templates/RecvChatView.html
Due: npx prettier --write

[FIX] Kill setTimeout of GameSender when destroy
  pong/app/javascript/srcs/game/GameSender.js
  pong/app/javascript/srcs/views/GamePlayView.js
Due: npx prettier --write, npx eslint --fix

[REMOVE] Remove redundant console.log
  pong/app/javascript/srcs/views/GamePlayView.js
Due: npx prettier --write, npx eslint --fix

[FIX] Fix not checking end of game :<
  pong/app/javascript/srcs/game/GameSender.js
Due: npx prettier --write, npx eslint --fix

[ADD] send user info when playing game
  pong/app/channels/game_channel.rb
  pong/app/javascript/srcs/game/GameReceiver.js
  pong/app/javascript/srcs/views/GamePlayView.js
Due: npx prettier --write, npx eslint --fix

[REMOVE] remove border of GamePlayView
  pong/public/css/game-play.css
Due: npx prettier --write

[ADD] Guild History model, collection, view, collectionview, template
  pong/app/javascript/srcs/collections/GuildHistoryCollection.js
  pong/app/javascript/srcs/models/GuildHistoryModel.js
  pong/app/javascript/srcs/templates/GuildHistoryCollectionView.html
  pong/app/javascript/srcs/templates/GuildHistoryView.html
  pong/app/javascript/srcs/views/GuildHistoryCollectionView.js
  pong/app/javascript/srcs/views/GuildHistoryView.js
Due: npx prettier --write, npx eslint --fix

[UPDATE] Guild History tab in GuildPage
  pong/app/javascript/srcs/templates/YesGuildView.html
  pong/app/javascript/srcs/views/YesGuildView.js
Due: npx prettier --write, npx eslint --fix

[UPDATE] add tournament start route
  pong/app/controllers/api/tournaments_controller.rb
  pong/config/routes.rb
Due: none

[UPDATE] update models
  pong/app/models/tournament.rb
  pong/app/models/tournament_participant.rb
Due: none

[UPDATE] update channels
  pong/app/channels/game_channel.rb
Due: none

[ADD] Game Result Applying
  pong/app/channels/game_channel.rb
Due: none

[ADD] war-point apply logic
  pong/app/channels/game_channel.rb
Due: none

[UPDATE] update send_start_signal
  pong/app/models/game_player.rb
Due: none
