Repository NavyBye/ft_transcendence: changes, and which lint-staged commands are due for each by the changed paths.
All: npx prettier --write, npx eslint --fix

[UPDATE] fix name method and add dm_room associations to user
  pong/app/models/dm_room.rb
  pong/app/models/user.rb
Due: none

[UPDATE] add Ranking page route
  pong/app/javascript/srcs/router.js
Due: npx prettier --write, npx eslint --fix

[ADD] add rank page image
  pong/public/images/bronze.png
  pong/public/images/gold.png
  pong/public/images/normal.png
  pong/public/images/silver.png
Due: none

[ADD] add Rank Page template
  pong/app/javascript/srcs/templates/GuildRankingCollectionView.html
  pong/app/javascript/srcs/templates/GuildRankingView.html
  pong/app/javascript/srcs/templates/RankPageView.html
  pong/app/javascript/srcs/templates/UserRankingCollectionView.html
  pong/app/javascript/srcs/templates/UserRankingView.html
  pong/app/views/layouts/application.html.erb
  pong/public/css/content-ranking.css
Due: npx prettier --write

[ADD] add Guild, User Model collection
  pong/app/javascript/srcs/collections/GuildRankingCollection.js
  pong/app/javascript/srcs/collections/UserRankingCollection.js
  pong/app/javascript/srcs/models/GuildRankingModel.js
  pong/app/javascript/srcs/models/UserRankingModel.js
Due: npx prettier --write, npx eslint --fix

[ADD] add Page관련 collectionView, View
  pong/app/javascript/srcs/views/GuildRankingCollectionView.js
  pong/app/javascript/srcs/views/GuildRankingView.js
  pong/app/javascript/srcs/views/RankPageView.js
  pong/app/javascript/srcs/views/UserRankingCollectionView.js
  pong/app/javascript/srcs/views/UserRankingView.js
Due: npx prettier --write, npx eslint --fix

[ADD] now updating user info works except image upload
  pong/app/javascript/srcs/templates/MyPageView.html
  pong/app/javascript/srcs/views/MyPageView.js
Due: npx prettier --write, npx eslint --fix

[UPDATE] remove FriendModel and change it to UserModel
  pong/app/javascript/srcs/collections/FriendCollection.js
  pong/app/javascript/srcs/models/FriendModel.js
  pong/app/javascript/srcs/models/UserModel.js
Due: npx prettier --write, npx eslint --fix

[UPDATE] now user can upload profile image
  pong/app/javascript/srcs/views/MyPageView.js
Due: npx prettier --write, npx eslint --fix

[UPDATE] change rank image
  pong/public/images/bronze.png
  pong/public/images/gold.png
  pong/public/images/normal.png
  pong/public/images/silver.png
Due: none

[ADD] add reRender function in common collectionview
  pong/app/javascript/srcs/common/CollectionView.js
Due: npx prettier --write, npx eslint --fix

[ADD] add dmchannel and update chatroom channel
  pong/app/channels/chat.rb
  pong/app/channels/dm_room_channel.rb
Due: none

[update] update schema
  pong/db/schema.rb
Due: none

[FIX] fix merge err
  pong/app/controllers/api/chat_room_messages_controller.rb
  pong/app/controllers/application_controller.rb
Due: none

[UPDATE] ranking page template
  pong/app/javascript/srcs/templates/GuildRankingView.html
  pong/app/javascript/srcs/templates/RankPageView.html
  pong/app/javascript/srcs/templates/UserRankingView.html
Due: npx prettier --write

[UPDATE] Ranking page css
  pong/public/css/content-ranking.css
Due: npx prettier --write

[UPDATE] Rank Collection Sort addAfter 이후 sort, rerender하게 하였음
  pong/app/javascript/srcs/collections/UserRankingCollection.js
  pong/app/javascript/srcs/views/UserRankingCollectionView.js
Due: npx prettier --write, npx eslint --fix

[UPDATE] update channel
  pong/app/channels/chat.rb
Due: none

[UPDATE] update message controller permissions
  pong/app/controllers/api/chat_room_messages_controller.rb
  pong/app/controllers/api/dm_room_messages_controller.rb
  pong/app/controllers/api/room_messages_controller.rb
Due: none

[UPDATE] to_json -> as_json
  pong/app/controllers/api/chat_rooms_controller.rb
  pong/app/controllers/api/chat_rooms_members_controller.rb
  pong/app/controllers/api/dm_rooms_controller.rb
  pong/app/controllers/api/dm_rooms_members_controller.rb
Due: none

[FIX] fix router problem
  pong/app/javascript/srcs/app.js
  pong/app/javascript/srcs/router.js
Due: npx prettier --write, npx eslint --fix

[REFACTOR] refactor by rubocop
  pong/app/channels/chat.rb
  pong/app/controllers/api/dm_rooms_members_controller.rb
Due: none

[FIX] fix Guild, User Rankingmodel -> GuildModel, UserModel
  pong/app/javascript/srcs/collections/GuildRankingCollection.js
  pong/app/javascript/srcs/collections/UserRankingCollection.js
  pong/app/javascript/srcs/models/GuildModel.js
  pong/app/javascript/srcs/models/UserRankingModel.js
Due: npx prettier --write, npx eslint --fix

[FIX] fix routing error specific to sidebar branch
  pong/app/javascript/srcs/app.js
Due: npx prettier --write, npx eslint --fix

[FIX] update blacklist according to #78
  pong/app/javascript/srcs/app.js
Due: npx prettier --write, npx eslint --fix

[FIX] fix chat (user was not model, object)
  pong/app/javascript/srcs/views/ChatView.js
  pong/app/javascript/srcs/views/UserProfileModalView.js
Due: npx prettier --write, npx eslint --fix

[UPDATE] update chat scroll delay 0.1 -> 0.25
  pong/app/javascript/srcs/views/ChatCollectionView.js
Due: npx prettier --write, npx eslint --fix

[UPDATE] login.id -> login.get('id')
  pong/app/javascript/srcs/views/ChatView.js
  pong/app/javascript/srcs/views/FriendView.js
  pong/app/javascript/srcs/views/SideView.js
  pong/app/javascript/srcs/views/UserProfileModalView.js
Due: npx prettier --write, npx eslint --fix

[UPDATE] remove unnecessary id, user-id, room-id attribute
  pong/app/javascript/srcs/templates/ChatRoomUserView.html
  pong/app/javascript/srcs/templates/ChatRoomView.html
  pong/app/javascript/srcs/templates/FriendView.html
  pong/app/javascript/srcs/templates/RecvChatView.html
  pong/app/javascript/srcs/views/ChatRoomUserView.js
  pong/app/javascript/srcs/views/ChatRoomView.js
  pong/app/javascript/srcs/views/ChatView.js
  pong/app/javascript/srcs/views/FriendView.js
Due: npx prettier --write, npx eslint --fix

[FIX] NO Redirection when sign in or sign up
  pong/app/controllers/users/omniauth_callbacks_controller.rb
  pong/app/controllers/users/registrations_controller.rb
  pong/app/controllers/users/sessions_controller.rb
Due: none

[REFACTOR] sessions_controller about tabulations
  pong/app/controllers/users/sessions_controller.rb
Due: none

[ADD] session limit to once per account at the same time
  pong/Gemfile
  pong/app/models/user.rb
  pong/config/application.rb
  pong/config/initializers/devise-security.rb
  pong/config/locales/devise.security_extension.by.yml
  pong/config/locales/devise.security_extension.cs.yml
  pong/config/locales/devise.security_extension.de.yml
  pong/config/locales/devise.security_extension.en.yml
  pong/config/locales/devise.security_extension.es.yml
  pong/config/locales/devise.security_extension.fa.yml
  pong/config/locales/devise.security_extension.fr.yml
  pong/config/locales/devise.security_extension.hi.yml
  pong/config/locales/devise.security_extension.it.yml
  pong/config/locales/devise.security_extension.ja.yml
  pong/config/locales/devise.security_extension.nl.yml
  pong/config/locales/devise.security_extension.pt.yml
  pong/config/locales/devise.security_extension.ru.yml
  pong/config/locales/devise.security_extension.tr.yml
  pong/config/locales/devise.security_extension.uk.yml
  pong/config/locales/devise.security_extension.zh_CN.yml
  pong/config/locales/devise.security_extension.zh_TW.yml
  pong/db/migrate/20210503050131_add_unique_session_id_to_users.rb
  pong/db/schema.rb
Due: none

[FIX] REDIRECT when omniauth login
  pong/app/controllers/users/omniauth_callbacks_controller.rb
Due: none

[UPDATE] Ranking css update 기존 화면 작아지면 Guild rank를 사라지게 하고 User rank만 볼 수 있게 되어 있었는데 둘 다 볼 수 있도록 수정
  pong/app/javascript/srcs/templates/UserRankingView.html
  pong/public/css/content-ranking.css
Due: npx prettier --write

[ADD] email_auth model to 2fa implement
  pong/.rubocop.yml
  pong/app/models/email_auth.rb
  pong/config/application.rb
  pong/db/migrate/20210503054716_create_email_auths.rb
  pong/db/schema.rb
  pong/test/fixtures/email_auths.yml
  pong/test/models/email_auth_test.rb
Due: none

[ADD] dummy fixtures for rank, remove pagination in guild#rank in controller.
  pong/app/controllers/api/guilds_controller.rb
  pong/test/fixtures/guilds.yml
Due: none

[ADD] User-EmailAuth association
  pong/app/models/email_auth.rb
  pong/app/models/user.rb
Due: none

[ADD] add rank attr in Guild, User model
  pong/app/javascript/srcs/models/GuildModel.js
  pong/app/javascript/srcs/models/UserModel.js
Due: npx prettier --write, npx eslint --fix

[UPDATE] update guild, user rank collection 정렬 부분 제거, add때마다 rank할당
  pong/app/javascript/srcs/collections/UserRankingCollection.js
  pong/app/javascript/srcs/templates/GuildRankingView.html
  pong/app/javascript/srcs/templates/UserRankingView.html
  pong/app/javascript/srcs/views/GuildRankingCollectionView.js
  pong/app/javascript/srcs/views/UserRankingCollectionView.js
  pong/public/css/content-ranking.css
Due: npx prettier --write, npx eslint --fix

[ADD] add click event show profile modal
  pong/app/javascript/srcs/views/UserRankingView.js
Due: npx prettier --write, npx eslint --fix

Path conditions:
  npx prettier --write: ((any of: *.js) or (any of: *.html)) or (any of: *.css)
  npx eslint --fix: any of: *.js
