Repository NavyBye/ft_transcendence: changes, and which lint-staged commands are due for each by the changed paths.
All: npx prettier --write, npx eslint --fix

[ADD] add Collections, Models index.js
  pong/app/javascript/srcs/collections/index.js
  pong/app/javascript/srcs/models/index.js
Due: npx prettier --write, npx eslint --fix

[UPDATE] package-lock
  package-lock.json
Due: none

[ADD] block controller and associations
  pong/.rubocop.yml
  pong/app/controllers/api/blocks_controller.rb
  pong/app/helpers/api/blocks_helper.rb
  pong/app/models/block.rb
  pong/app/models/friend.rb
  pong/app/models/user.rb
  pong/db/migrate/20210416064528_add_unique_index_to_friends.rb
  pong/db/migrate/20210416064659_add_unique_index_to_blocks.rb
  pong/test/controllers/api/blocks_controller_test.rb
Due: none

[ADD] block model unit test
  pong/test/models/block_test.rb
  pong/test/models/friend_test.rb
Due: none

[FIX] controller typo
  pong/app/controllers/api/blocks_controller.rb
Due: none

[FIX] import bootstrap in application.js
  pong/app/javascript/packs/application.js
Due: npx prettier --write, npx eslint --fix

[FIX] delete console.log command
  pong/app/javascript/srcs/views/index.js
Due: npx prettier --write, npx eslint --fix

[ADD] add DmRoom template, css
  pong/app/javascript/srcs/templates/DmRoomCollectionView.html
  pong/app/javascript/srcs/templates/DmRoomView.html
  pong/app/views/layouts/application.html.erb
  pong/public/css/dmroom-collection.css
Due: npx prettier --write

[ADD] add DmRoomView
  pong/app/javascript/srcs/views/DmRoomView.js
Due: npx prettier --write, npx eslint --fix

[FIX] fix DmRoomModel default
  pong/app/javascript/srcs/models/DmRoomModel.js
Due: npx prettier --write, npx eslint --fix

[UPDATE] update DmRoomCollectionView
  pong/app/javascript/srcs/views/DmRoomCollectionView.js
Due: npx prettier --write, npx eslint --fix

[UPDATE] delete ChatCollection test element, add User button
  pong/app/javascript/srcs/templates/ChatCollectionView.html
  pong/public/css/chat.css
Due: npx prettier --write

[ADD] add webpacker compile on html files
  pong/config/webpacker.yml
Due: none

[ADD] add Friend Model, Collection, template
  pong/app/javascript/srcs/collections/FriendCollection.js
  pong/app/javascript/srcs/models/FriendModel.js
  pong/app/javascript/srcs/templates/FriendCollectionView.html
  pong/app/javascript/srcs/templates/FriendView.html
  pong/app/javascript/srcs/views/FriendCollectionView.js
  pong/app/javascript/srcs/views/FriendView.js
  pong/app/views/layouts/application.html.erb
  pong/public/css/friend-collection.css
Due: npx prettier --write, npx eslint --fix

[FIX] fix .lintstagedrc configuration
  .lintstagedrc
Due: none

[ADD] add AddChatRoomModalView
  pong/app/javascript/srcs/templates/ChatRoomCollectionView.html
  pong/app/views/layouts/application.html.erb
  pong/public/css/custom-checkbox.css
Due: npx prettier --write

[FIX] delete marionette
  pong/package-lock.json
Due: none

[UPDATE] change chat template selector id (chat-box -> chat-collection)
  pong/app/javascript/srcs/templates/ChatCollectionView.html
  pong/public/css/chat.css
Due: npx prettier --write

[FIX] fix chat-collectionview extend CollectionView
  pong/app/javascript/srcs/views/ChatCollectionView.js
Due: npx prettier --write, npx eslint --fix

[UPDATE] update chatcollection view init values, add ChatView
  pong/app/javascript/srcs/views/ChatCollectionView.js
  pong/app/javascript/srcs/views/ChatView.js
Due: npx prettier --write, npx eslint --fix

[ADD] add DM template, collection, model, view
  pong/app/javascript/srcs/collections/DmCollection.js
  pong/app/javascript/srcs/models/DmModel.js
  pong/app/javascript/srcs/templates/DmCollectionView.html
  pong/app/javascript/srcs/views/DmCollectionView.js
  pong/app/javascript/srcs/views/DmView.js
  pong/public/css/chat.css
Due: npx prettier --write, npx eslint --fix

[ADD] GET my user data (/api/users/me)
  pong/app/controllers/api/users_controller.rb
  pong/config/routes.rb
  pong/package-lock.json
Due: none

[ADD] add models chatroom members, messages and add associations
  pong/app/models/chat_room.rb
  pong/app/models/chat_room_message.rb
  pong/app/models/chat_rooms_member.rb
Due: none

[ADD] guild model and basic validations
  pong/app/models/guild.rb
  pong/db/migrate/20210419061836_create_guilds.rb
  pong/db/schema.rb
  pong/test/fixtures/guilds.yml
  pong/test/models/guild_test.rb
Due: none

[ADD] guild API controller and routes
  pong/app/assets/stylesheets/api/guilds.scss
  pong/app/controllers/api/guilds_controller.rb
  pong/app/controllers/api/users_controller.rb
  pong/app/controllers/home_controller.rb
  pong/app/helpers/api/guilds_helper.rb
  pong/config/routes.rb
  pong/test/controllers/api/guilds_controller_test.rb
Due: none

[ADD] add fixtures for test
  pong/test/fixtures/chat_room_messages.yml
  pong/test/fixtures/chat_rooms_members.yml
  pong/test/fixtures/users.yml
Due: none

[FIX] fix conflict
  pong/db/schema.rb
Due: none

[ADD] guild_members model first
  pong/app/models/guild_member.rb
  pong/db/migrate/20210419075209_create_guild_members.rb
  pong/db/schema.rb
  pong/test/fixtures/guild_members.yml
  pong/test/models/guild_member_test.rb
Due: none

[FIX] fix View view들이 model type을 가지고 있을 필요 없음
  pong/app/javascript/srcs/views/ChatView.js
  pong/app/javascript/srcs/views/DmRoomView.js
  pong/app/javascript/srcs/views/DmView.js
  pong/app/javascript/srcs/views/FriendView.js
Due: npx prettier --write, npx eslint --fix

[ADD] add login (only 42 login)
  pong/app/javascript/srcs/app.js
  pong/app/javascript/srcs/templates/LoginView.html
  pong/app/javascript/srcs/templates/NavView.html
  pong/app/javascript/srcs/views/LoginView.js
  pong/app/javascript/srcs/views/NavView.js
  pong/app/javascript/srcs/views/RootView.js
Due: npx prettier --write, npx eslint --fix

[FIX] fix wrong import of jQuery
  pong/app/javascript/packs/application.js
  pong/app/javascript/srcs/common/View.js
  pong/config/webpack/environment.js
Due: npx prettier --write, npx eslint --fix

[FIX] delete guild_members model
  pong/app/models/guild_member.rb
  pong/db/migrate/20210419075209_create_guild_members.rb
  pong/db/schema.rb
  pong/test/fixtures/guild_members.yml
  pong/test/models/guild_member_test.rb
Due: none

[ADD] guild_member model
  pong/app/models/guild.rb
  pong/app/models/guild_member.rb
  pong/app/models/user.rb
  pong/db/migrate/20210420053847_create_guild_members.rb
  pong/db/schema.rb
  pong/test/fixtures/guild_members.yml
  pong/test/models/guild_member_test.rb
Due: none

[UPDATE] guild member fixture fill
  pong/test/fixtures/guild_members.yml
Due: none

[ADD] add utility for getting auth token value and name
  pong/app/javascript/srcs/utils/auth.js
Due: npx prettier --write, npx eslint --fix

[FIX] made 42 login work
  pong/app/javascript/srcs/router.js
  pong/app/javascript/srcs/views/NavView.js
Due: npx prettier --write, npx eslint --fix

[FIX] make logout reply of app does its job (logout)
  pong/app/javascript/srcs/app.js
  pong/app/javascript/srcs/views/NavView.js
Due: npx prettier --write, npx eslint --fix

[ADD] guild member, invite routes
  pong/config/routes.rb
Due: none

[FIX] collectiontype constructor get obj in collectionview
  pong/app/javascript/srcs/common/CollectionView.js
Due: npx prettier --write, npx eslint --fix

[ADD] add enter chat room event
  pong/app/javascript/srcs/templates/ChatRoomView.html
  pong/app/javascript/srcs/views/ChatRoomView.js
  pong/app/javascript/srcs/views/SideView.js
Due: npx prettier --write, npx eslint --fix

Path conditions:
  npx prettier --write: ((any of: *.js) or (any of: *.html)) or (any of: *.css)
  npx eslint --fix: any of: *.js
