Repository NavyBye/ft_transcendence: changes, and which lint-staged commands are due for each by the changed paths.
All: npx prettier --write, npx eslint --fix

.lintstagedrc:

{
  "*.js": ["npx prettier --write", "npx eslint --fix"],
  "*.html": ["npx prettier --write"],
  "*.css": ["npx prettier --write"],
}

[UPDATE] change status when game start or end
  pong/app/channels/game_channel.rb
Due: none

[FIX] login get 위치 수정 현재 user정보를 가져오는 부분을 onclick함수 내부로 이동
  pong/app/javascript/srcs/views/ChatRoomView.js
Due: npx prettier --write, npx eslint --fix

[FIX] fix wrong use of data
  pong/app/javascript/srcs/views/UserProfileModalView.js
Due: npx prettier --write, npx eslint --fix

[UPDATE] add image url field to message json
  pong/app/channels/chat.rb
  pong/app/controllers/api/room_messages_controller.rb
Due: none

[UPDATE] admin or owner can join any room
  pong/app/controllers/api/chat_rooms_members_controller.rb
Due: none

[ADD] make war_history and history_guild when war is ended
  pong/app/jobs/war_end_job.rb
Due: none

[REFACTOR] by rubocop
  pong/app/jobs/war_end_job.rb
Due: none

[UPDATE] update error message
  pong/app/controllers/api/chat_rooms_members_controller.rb
Due: none

[FIX] fix signal subscription error
  pong/app/javascript/srcs/app.js
  pong/app/javascript/srcs/views/LoginView.js
Due: npx prettier --write, npx eslint --fix

[FIX] queue_timeover typo
  pong/app/jobs/queue_timeover_job.rb
Due: none

[FIX] UserProfileModal 위치 sidebar에서 rootview로 이동 ProfileModal에서 Callback function마다 login으로 현재 login상태인지 확인하는 코드 추가
  pong/app/javascript/srcs/templates/RootView.html
  pong/app/javascript/srcs/templates/SideView.html
  pong/app/javascript/srcs/views/UserProfileModalView.js
Due: npx prettier --write, npx eslint --fix

[FIX] fix logout not redireting
  pong/app/javascript/srcs/app.js
Due: npx prettier --write, npx eslint --fix

[FIX] Fix RPM
  pong/app/models/game.rb
Due: none

[REMOVE] status update when friend channel unsub
  pong/app/channels/friend_channel.rb
Due: none

[FIX] subscribe to friend/signal when refreshing page
  pong/app/javascript/srcs/app.js
Due: npx prettier --write, npx eslint --fix

[FIX] Remove dead code
  pong/app/javascript/srcs/app.js
Due: npx prettier --write, npx eslint --fix

[FIX] Remove meaningless code
  pong/app/javascript/srcs/app.js
Due: npx prettier --write, npx eslint --fix

[FIX] Fix FirstLogin (SignUp)
  pong/app/javascript/srcs/app.js
  pong/app/javascript/srcs/views/LoginView.js
Due: npx prettier --write, npx eslint --fix

[FIX] Fix spectator mode
  pong/app/javascript/srcs/views/UserProfileModalView.js
Due: npx prettier --write, npx eslint --fix

[FIX] Fix issue #217
  pong/app/javascript/srcs/views/AuthView.js
  pong/app/javascript/srcs/views/MyPageView.js
Due: npx prettier --write, npx eslint --fix

[FIX] Refuse RPM when closing RequestPongMatchModalView
  pong/app/javascript/srcs/views/RequestPongMatchModalView.js
Due: npx prettier --write, npx eslint --fix

[FIX] redirect to loading only when request is successful
  pong/app/javascript/srcs/views/UserProfileModalView.js
Due: npx prettier --write, npx eslint --fix

[UPDATE] Redirect to home when RPM refused
  pong/app/javascript/srcs/app.js
Due: npx prettier --write, npx eslint --fix

[FIX] data is JSON
  pong/app/javascript/srcs/views/FriendView.js
Due: npx prettier --write, npx eslint --fix

[UPDATE] GuildWar Card기능 추가
  pong/app/javascript/srcs/views/GuildWarCardView.js
Due: npx prettier --write, npx eslint --fix

[FIX] remove not necessary code
  pong/app/javascript/srcs/views/DuelCardView.js
  pong/app/javascript/srcs/views/InputPasswordModalView.js
  pong/app/javascript/srcs/views/LadderCardView.js
Due: npx prettier --write, npx eslint --fix

[ADD] add basic frame for HomeView
  pong/app/javascript/srcs/templates/HomeView.html
  pong/app/javascript/srcs/views/HomeView.js
  pong/app/views/layouts/application.html.erb
  pong/public/css/home.css
Due: npx prettier --write, npx eslint --fix

[ADD] add style for Home Page
  pong/app/javascript/srcs/templates/HomeView.html
  pong/public/css/home.css
  pong/public/images/not_found_cat.jpg
Due: npx prettier --write

[ADD] add migration for unique index
  pong/db/migrate/20210601045251_add_unique_index_to_tournament_participants.rb
  pong/db/schema.rb
Due: none

[ADD] add fixtures
  pong/test/fixtures/tournament_participants.yml
  pong/test/fixtures/tournaments.yml
Due: none

[ADD] add tournament, tournament_participant model
  pong/app/models/game.rb
  pong/app/models/tournament.rb
  pong/app/models/tournament_participant.rb
Due: none

[UPDATE] add tournament participant route
  pong/config/routes.rb
Due: none

[ADD] addon adjust logics, and now war.is_addon assigned to game.addon
  pong/app/controllers/api/games_controller.rb
  pong/app/controllers/api/wars_controller.rb
  pong/app/models/game_queue.rb
  pong/config/routes.rb
  pong/test/controllers/api/games_controller_test.rb
Due: none

[ADD] add tournament start job
  pong/app/jobs/tournament_start_job.rb
Due: none

[ADD] add tournament participant controller
  pong/app/controllers/api/tournament_participants_controller.rb
Due: none

[UPDATE] update game channel for tournament
  pong/app/channels/game_channel.rb
Due: none

[ADD] opposite case of is_addon assigning
  pong/test/controllers/api/games_controller_test.rb
Due: none

[FIX] fix HTML injection in chat channel
  pong/app/channels/chat.rb
Due: none

[ADD] add controller test
  pong/test/controllers/api/tournament_participants_controller_test.rb
Due: none

[UPDATE] update unique validation and migration
  pong/app/models/tournament_participant.rb
  pong/db/migrate/20210525070406_create_tournament_participants.rb
  pong/db/schema.rb
Due: none
