Repository NavyBye/ft_transcendence: changes, and which lint-staged commands are due for each by the changed paths.
All: npx prettier --write, npx eslint --fix

.lintstagedrc:

{
  "*.js": ["npx prettier --write", "npx eslint --fix"],
  "*.html": ["npx prettier --write"],
  "*.css": ["npx prettier --write"],
}

[FIX] find_by to where.first! for raising exception
  pong/app/models/guild_member.rb
Due: none

[FIX] Fix issue #135
  pong/app/javascript/srcs/views/AuthView.js
  pong/app/javascript/srcs/views/MyPageView.js
Due: npx prettier --write, npx eslint --fix

[ADD] add base for AdminView
  pong/app/javascript/srcs/router.js
  pong/app/javascript/srcs/templates/AdminView.html
  pong/app/javascript/srcs/views/AdminView.js
Due: npx prettier --write, npx eslint --fix

[UPDATE] rerneder when member role chagne
  pong/app/javascript/srcs/views/GuildMemberView.js
Due: npx prettier --write, npx eslint --fix

[FIX] delete error callback
  pong/app/javascript/srcs/views/GuildInfoView.js
  pong/app/javascript/srcs/views/GuildInviteView.js
  pong/app/javascript/srcs/views/GuildMemberView.js
  pong/app/javascript/srcs/views/NoGuildView.js
Due: npx prettier --write, npx eslint --fix

[ADD] job that remove timeout queue
  pong/app/controllers/api/games_controller.rb
  pong/app/helpers/application_helper.rb
  pong/app/jobs/queue_timeover_job.rb
  pong/app/models/game_queue.rb
  pong/test/jobs/queue_timeover_job_test.rb
Due: none

[ADD] check gametype when add job + update status when refused
  pong/app/jobs/queue_timeover_job.rb
  pong/app/models/game_queue.rb
Due: none

[ADD] refusing and status update for refused user
  pong/app/controllers/api/games_controller.rb
  pong/app/models/game_queue.rb
Due: none

[ADD] add GamePage base
  pong/app/javascript/srcs/router.js
  pong/app/javascript/srcs/templates/GamePageView.html
  pong/app/javascript/srcs/views/GamePageView.js
Due: npx prettier --write, npx eslint --fix

[FIX] schema by merged migration
  pong/db/schema.rb
Due: none

[ADD] Declaration model and migrated
  pong/app/models/declaration.rb
  pong/db/migrate/20210513032711_create_declarations.rb
  pong/db/schema.rb
  pong/test/fixtures/declarations.yml
  pong/test/models/declaration_test.rb
Due: none

[ADD] subscribe to friend channel on login
  pong/app/javascript/srcs/app.js
Due: npx prettier --write, npx eslint --fix

[ADD] basic validations and associations for declarations
  pong/app/models/declaration.rb
  pong/app/models/guild.rb
Due: none

[ADD] war and war_guild model and migrated
  pong/app/models/guild.rb
  pong/app/models/war.rb
  pong/app/models/war_guild.rb
  pong/db/migrate/20210513044746_create_wars.rb
  pong/db/migrate/20210513051105_create_war_guilds.rb
  pong/db/schema.rb
  pong/test/fixtures/war_guilds.yml
  pong/test/fixtures/wars.yml
  pong/test/models/war_guild_test.rb
  pong/test/models/war_test.rb
Due: none

[FIX] war_guilds fixture
  pong/test/fixtures/war_guilds.yml
Due: none

[ADD] war associations
  pong/app/models/guild.rb
  pong/app/models/war.rb
  pong/app/models/war_guild.rb
Due: none

[ADD] prepare for kick/ban/mute/free/admin/unadmin type of messages
  pong/app/javascript/srcs/models/ChatModel.js
  pong/app/javascript/srcs/templates/ServChatView.html
  pong/app/javascript/srcs/views/ChatView.js
Due: npx prettier --write, npx eslint --fix

[ADD] add templates and styles for AdminView
  pong/app/javascript/srcs/templates/AdminView.html
  pong/app/views/layouts/application.html.erb
  pong/public/css/admin.css
Due: npx prettier --write

[ADD] declaration controller
  pong/app/assets/stylesheets/api/declarations.scss
  pong/app/controllers/api/declarations_controller.rb
  pong/app/helpers/api/declarations_helper.rb
  pong/app/models/declaration.rb
  pong/config/routes.rb
  pong/test/controllers/api/declarations_controller_test.rb
Due: none

[ADD] declaration expire & war end job
  pong/app/controllers/api/declarations_controller.rb
  pong/app/jobs/declaration_expire_job.rb
  pong/app/jobs/war_end_job.rb
  pong/test/jobs/declaration_expire_job_test.rb
  pong/test/jobs/war_end_job_test.rb
Due: none

[ADD] wars controller, only timetable
  pong/app/assets/stylesheets/api/wars.scss
  pong/app/controllers/api/wars_controller.rb
  pong/app/helpers/api/wars_helper.rb
  pong/app/models/war.rb
  pong/config/routes.rb
  pong/test/controllers/api/wars_controller_test.rb
Due: none

[ADD] who?nickname= for find by nickname
  pong/app/controllers/api/users_controller.rb
  pong/config/routes.rb
Due: none

[ADD] 각 game card들 추가, card rotate 추가
  pong/app/javascript/srcs/templates/DuelView.html
  pong/app/javascript/srcs/templates/GamePageView.html
  pong/app/javascript/srcs/templates/GuildWarView.html
  pong/app/javascript/srcs/templates/LadderTournamentView.html
  pong/app/javascript/srcs/templates/LadderView.html
  pong/app/javascript/srcs/templates/TournamentView.html
  pong/app/javascript/srcs/views/DuelView.js
  pong/app/javascript/srcs/views/GamePageView.js
  pong/app/javascript/srcs/views/GuildWarView.js
  pong/app/javascript/srcs/views/LadderTournamentView.js
  pong/app/javascript/srcs/views/LadderView.js
  pong/app/javascript/srcs/views/TournamentView.js
Due: npx prettier --write, npx eslint --fix

[ADD] add dependency for fabric.js
  pong/package-lock.json
  pong/package.json
Due: none

[ADD] add route for game play
  pong/app/javascript/srcs/router.js
Due: npx prettier --write, npx eslint --fix

[ADD] add css style for canvas of GamePlayView
  pong/app/views/layouts/application.html.erb
  pong/public/css/game-play.css
Due: npx prettier --write

[ADD] add predefined constants for processing game
  pong/app/javascript/srcs/game/constant.js
Due: npx prettier --write, npx eslint --fix

[ADD] add general Entity class.
  pong/app/javascript/srcs/game/Entity.js
Due: npx prettier --write, npx eslint --fix

[ADD] add Bar, Ball
  pong/app/javascript/srcs/game/Ball.js
  pong/app/javascript/srcs/game/Bar.js
Due: npx prettier --write, npx eslint --fix

[ADD] add Game class
  pong/app/javascript/srcs/game/Game.js
Due: npx prettier --write, npx eslint --fix

[ADD] add GamePlayView
  pong/app/javascript/srcs/templates/GamePlayView.html
  pong/app/javascript/srcs/views/GamePlayView.js
Due: npx prettier --write, npx eslint --fix

[ADD] add Game Page Image
  pong/public/images/duel.png
  pong/public/images/guildwar.png
  pong/public/images/ladder.png
  pong/public/images/laddertorunament.png
  pong/public/images/tournament.png
Due: none

[ADD] add Game Page css
  pong/app/views/layouts/application.html.erb
  pong/public/css/game-page.css
Due: npx prettier --write

[UPDATE] update Game Page template
  pong/app/javascript/srcs/templates/DuelView.html
  pong/app/javascript/srcs/templates/GamePageView.html
  pong/app/javascript/srcs/templates/GuildWarView.html
  pong/app/javascript/srcs/templates/LadderTournamentView.html
  pong/app/javascript/srcs/templates/LadderView.html
  pong/app/javascript/srcs/templates/TournamentView.html
Due: npx prettier --write

[UPDATE] pakage-lock, yarn
  pong/package-lock.json
  pong/yarn.lock
Due: none

[FIX] fix Card View name (add Card)
  pong/app/javascript/srcs/templates/DuelCardView.html
  pong/app/javascript/srcs/templates/GuildWarCardView.html
  pong/app/javascript/srcs/templates/LadderCardView.html
  pong/app/javascript/srcs/templates/LadderTournamentCardView.html
  pong/app/javascript/srcs/templates/TournamentCardView.html
  pong/app/javascript/srcs/views/DuelCardView.js
  pong/app/javascript/srcs/views/DuelView.js
  pong/app/javascript/srcs/views/GamePageView.js
  pong/app/javascript/srcs/views/GuildWarCardView.js
  pong/app/javascript/srcs/views/GuildWarView.js
  pong/app/javascript/srcs/views/LadderCardView.js
  pong/app/javascript/srcs/views/LadderTournamentCardView.js
  pong/app/javascript/srcs/views/LadderTournamentView.js
  pong/app/javascript/srcs/views/LadderView.js
  pong/app/javascript/srcs/views/TournamentCardView.js
  pong/app/javascript/srcs/views/TournamentView.js
  pong/package-lock.json
Due: npx prettier --write, npx eslint --fix

[FIX] fix strange ball movement
  pong/app/javascript/srcs/game/Ball.js
  pong/app/javascript/srcs/game/Entity.js
  pong/app/javascript/srcs/game/Game.js
Due: npx prettier --write, npx eslint --fix

[FIX] make game resize on screen size
  pong/app/javascript/srcs/game/Ball.js
  pong/app/javascript/srcs/game/Bar.js
  pong/app/javascript/srcs/game/Entity.js
  pong/app/javascript/srcs/game/Game.js
  pong/public/css/game-play.css
Due: npx prettier --write, npx eslint --fix

[FIX] routes typo
  pong/config/routes.rb
Due: none

[ADD] history model migrated
  pong/app/models/history.rb
  pong/db/migrate/20210519042929_create_histories.rb
  pong/db/schema.rb
  pong/test/fixtures/histories.yml
  pong/test/models/history_test.rb
Due: none
