Repository NavyBye/ft_transcendence: changes, and which lint-staged commands are due for each by the changed paths.
All: npx prettier --write, npx eslint --fix

.lintstagedrc:

{
  "*.js": ["npx prettier --write", "npx eslint --fix"],
  "*.html": ["npx prettier --write"],
  "*.css": ["npx prettier --write"],
}

[ADD] nickname should be changed when update user info.
  pong/app/controllers/api/users_controller.rb
  pong/app/controllers/application_controller.rb
  pong/app/models/user.rb
Due: none

[FIX] change chat scroll display none
  pong/public/css/chat.css
Due: npx prettier --write

[FIX] typo error
  pong/app/controllers/api/users_controller.rb
Due: none

[FIX] display name -> nickname
  pong/app/javascript/srcs/templates/FriendView.html
  pong/app/javascript/srcs/templates/GuildMemberView.html
Due: npx prettier --write

[UPDATE] add game end routine
  pong/app/javascript/srcs/game/GameReceiver.js
  pong/app/javascript/srcs/game/GameSender.js
  pong/app/javascript/srcs/views/GamePlayView.js
Due: npx prettier --write, npx eslint --fix

[UPDATE] Disconnect game when user goes to another route
  pong/app/javascript/srcs/views/GamePlayView.js
Due: npx prettier --write, npx eslint --fix

[FIX] game cancel action to always success
  pong/app/controllers/api/games_controller.rb
Due: none

[ADD] cancel success test
  pong/test/controllers/api/games_controller_test.rb
Due: none

[FIX] Fix bug that ball penetrates wall
  pong/app/javascript/srcs/game/GameSender.js
Due: npx prettier --write, npx eslint --fix

[UPDATE] Stop bar when key up event
  pong/app/javascript/srcs/game/GameReceiver.js
Due: npx prettier --write, npx eslint --fix

[UPDATE] minor game speed changes
  pong/app/javascript/srcs/views/GamePlayView.js
Due: npx prettier --write, npx eslint --fix

[ADD] matchmaking tests
  pong/test/controllers/api/games_controller_test.rb
Due: none

[UPDATE] update when disconnect
  pong/app/channels/application_cable/connection.rb
Due: none

[REMOVE] Remove redundant console.log statement
  pong/app/javascript/srcs/game/GameSender.js
Due: npx prettier --write, npx eslint --fix

[ADD] declarations controller tests
  pong/test/controllers/api/declarations_controller_test.rb
Due: none

[FIX] delete friend view bootstrap menu
  pong/app/javascript/srcs/app.js
  pong/app/javascript/srcs/views/FriendCollectionView.js
  pong/app/javascript/srcs/views/FriendView.js
Due: npx prettier --write, npx eslint --fix

[FIX] fix image margin, fix profile modal profile modal에 보여줄 정보 추가
  pong/app/javascript/srcs/templates/UserInfoView.html
  pong/app/javascript/srcs/views/UserProfileModalView.js
Due: npx prettier --write, npx eslint --fix

[UPDATE] disconnect game when client close connection
  pong/app/channels/application_cable/connection.rb
  pong/app/channels/game_channel.rb
Due: none

[FIX] rubocop
  pong/app/channels/application_cable/connection.rb
  pong/app/channels/game_channel.rb
Due: none

[FIX] fix guild war war declare버튼 누르고 OK modal 띄워주기 War declare refuse, accept이후 rerender
  pong/app/javascript/srcs/views/GuildManageView.js
  pong/app/javascript/srcs/views/GuildWarCollectionView.js
  pong/app/javascript/srcs/views/GuildWarView.js
Due: npx prettier --write, npx eslint --fix

[FIX] add no selection Guild, Rank view
  pong/app/javascript/srcs/templates/GuildView.html
  pong/app/javascript/srcs/templates/RankPageView.html
Due: npx prettier --write

[FIX] consumer.disconnect when logout not42user일 때 소켓에 이전 user 정보 남아있는것 해결
  pong/app/javascript/srcs/app.js
Due: npx prettier --write, npx eslint --fix

[ADD] add addon-select-modal view, template
  pong/app/javascript/srcs/templates/RootView.html
  pong/app/javascript/srcs/views/AddonSelectModalView.js
Due: npx prettier --write, npx eslint --fix

[UPDATE] click function show addon-select-modal
  pong/app/javascript/srcs/views/DuelCardView.js
Due: npx prettier --write, npx eslint --fix

[UPDATE] broadcast when chat_room_member is updated
  pong/app/controllers/api/chat_rooms_members_controller.rb
Due: none

[UPDATE] normal user cannot update chat_room's info
  pong/app/controllers/api/chat_rooms_controller.rb
Due: none

[ADD] Make user history view work
  pong/app/javascript/srcs/templates/UserHistoryCollectionView.html
  pong/app/javascript/srcs/templates/UserHistoryView.html
  pong/app/javascript/srcs/views/UserHistoryView.js
Due: npx prettier --write, npx eslint --fix

[UPDATE] broadcast when kick
  pong/app/controllers/api/chat_rooms_members_controller.rb
Due: none

[FIX] Fix data mismatch with column name
  pong/app/javascript/srcs/templates/UserHistoryView.html
Due: npx prettier --write

[FIX] fix err
  pong/app/controllers/api/chat_rooms_members_controller.rb
Due: none

[UPDATE] muted user cannot send message
  pong/app/channels/chat.rb
  pong/app/channels/chat_room_channel.rb
  pong/app/channels/dm_room_channel.rb
Due: none

[UPDATE] update message format
  pong/app/channels/chat.rb
  pong/app/channels/chat_room_channel.rb
  pong/app/channels/dm_room_channel.rb
  pong/app/controllers/api/chat_rooms_members_controller.rb
Due: none

[UPDATE] Remove overflow style on UserProfileModalView
  pong/app/javascript/srcs/templates/SideView.html
  pong/app/javascript/srcs/templates/UserHistoryCollectionView.html
Due: npx prettier --write

[ADD] response with error format when sign_in fail
  pong/config/application.rb
  pong/config/initializers/devise.rb
  pong/lib/custom_failure.rb
Due: none

[ADD] response with error format when sign_up fail
  pong/app/controllers/users/registrations_controller.rb
Due: none

[REFACTOR] with rubocop
  pong/config/application.rb
Due: none

[UPDATE] show ServTemplate when 'notification' type
  pong/app/javascript/srcs/views/ChatCollectionView.js
  pong/app/javascript/srcs/views/ChatView.js
Due: npx prettier --write, npx eslint --fix

[FIX] sign_in fail response body now returns right JSON.
  pong/lib/custom_failure.rb
Due: none

[UPDATE] update before_action
  pong/app/controllers/api/chat_rooms_controller.rb
Due: none

[FIX] fix fixtures
  pong/test/fixtures/chat_rooms_members.yml
Due: none
