Repository NavyBye/ft_transcendence: changes, and which lint-staged commands are due for each by the changed paths.
All: npx prettier --write, npx eslint --fix

.lintstagedrc:

{
  "*.js": ["npx prettier --write", "npx eslint --fix"],
  "*.html": ["npx prettier --write"],
  "*.css": ["npx prettier --write"],
}

[REFACTOR] for smaller user
  pong/app/models/user.rb
Due: none

[REFACTOR] user update status method
  pong/app/controllers/users/omniauth_callbacks_controller.rb
  pong/app/controllers/users/registrations_controller.rb
  pong/app/controllers/users/sessions_controller.rb
  pong/app/models/user.rb
Due: none

[FIX] fix typo
  pong/app/javascript/srcs/templates/GuildInviteCollectionView.html
Due: npx prettier --write

[UPDATE] add invite Accept, Refuse
  pong/app/javascript/srcs/templates/GuildInviteView.html
  pong/app/javascript/srcs/views/GuildInviteView.js
  pong/public/css/content-guild.css
Due: npx prettier --write, npx eslint --fix

[FIX] delete el in GuildMemberView - render할 때 자동으로 Div가 생기는것을 막기 위해 el을 추가하였지만 append될 때 문제가 발생 - bootstrap의 table을 사용하기 하기 위해서는 template가 div로 감싸져서는 안되는데 해결방안 필요
  pong/app/javascript/srcs/views/GuildMemberView.js
Due: npx prettier --write, npx eslint --fix

[UPDATE] add guild invite function
  pong/app/javascript/srcs/views/UserProfileModalView.js
Due: npx prettier --write, npx eslint --fix

[UPDATE] update GuildMemberView, GuildMemberCollectionView
  pong/app/javascript/srcs/templates/GuildMemberCollectionView.html
  pong/app/javascript/srcs/templates/GuildMemberView.html
  pong/app/javascript/srcs/views/GuildMemberView.js
Due: npx prettier --write, npx eslint --fix

[STASH] working on stash
  pong/app/javascript/srcs/views/GuildManageView.js
  pong/app/javascript/srcs/views/GuildMemberView.js
  pong/public/css/content-common.css
Due: npx prettier --write, npx eslint --fix

[ADD] matchmaking cases
  pong/app/controllers/api/games_controller.rb
  pong/app/models/game_queue.rb
Due: none

[STASH] working on stash... wtf
  pong/app/javascript/srcs/templates/RootView.html
Due: npx prettier --write

[STASH] remove strange files
  pong/app/javascript/srcs/views/GuildManageView.js
  pong/app/javascript/srcs/views/GuildMemberView.js
Due: npx prettier --write, npx eslint --fix

[FIX] guild show : now returns master id|name|nickname too
  pong/app/controllers/api/guilds_controller.rb
  pong/app/views/api/guilds/show.json.jbuilder
  pong/test/controllers/api/guilds_controller_test.rb
  pong/test/fixtures/guild_members.yml
Due: none

[REMOVE] remove template of GuildWarTimeModalView
  pong/app/javascript/srcs/templates/RootView.html
Due: npx prettier --write

[ADD] add template for GuildWarTimeModalView
  pong/app/javascript/srcs/templates/RootView.html
Due: npx prettier --write

[ADD] add GuildWarTimeModalView.js
  pong/app/javascript/srcs/views/GuildWarTimeModalView.js
Due: npx prettier --write, npx eslint --fix

[UPDATE] make GuildManageView show GuildWarTimeModalView
  pong/app/javascript/srcs/views/GuildManageView.js
Due: npx prettier --write, npx eslint --fix

[FIX] matchmaking methods fixes
  pong/app/controllers/api/games_controller.rb
  pong/app/models/game_queue.rb
  pong/test/controllers/api/games_controller_test.rb
Due: none

[ADD] issue auth when omniauth login
  pong/app/controllers/users/omniauth_callbacks_controller.rb
  pong/app/controllers/users/sessions_controller.rb
Due: none

[ADD] 2fa and firstLogin
  pong/app/controllers/api/auth_controller.rb
  pong/app/controllers/api/users_controller.rb
  pong/app/controllers/application_controller.rb
  pong/app/controllers/home_controller.rb
  pong/app/controllers/users/confirmations_controller.rb
  pong/app/controllers/users/omniauth_callbacks_controller.rb
  pong/app/controllers/users/passwords_controller.rb
  pong/app/controllers/users/registrations_controller.rb
  pong/app/controllers/users/sessions_controller.rb
  pong/app/controllers/users/unlocks_controller.rb
  pong/app/helpers/application_helper.rb
Due: none

[ADD] add take admin, give admin on ChatView
  pong/app/javascript/srcs/views/ChatView.js
Due: npx prettier --write, npx eslint --fix

[ADD] request based matchmaking logics
  pong/app/controllers/api/games_controller.rb
  pong/app/models/game_queue.rb
Due: none

[UPDATE] make trigger error even when 401
  pong/app/javascript/srcs/app.js
Due: npx prettier --write, npx eslint --fix

[ADD] add base for email auth
  pong/app/javascript/srcs/router.js
  pong/app/javascript/srcs/templates/AuthView.html
  pong/app/javascript/srcs/views/AuthView.js
Due: npx prettier --write, npx eslint --fix

[ADD] request-based calcel situation
  pong/app/controllers/api/games_controller.rb
  pong/app/controllers/application_controller.rb
  pong/app/models/game_player.rb
  pong/app/models/game_queue.rb
  pong/test/controllers/api/games_controller_test.rb
Due: none

[ADD] check for 2FA disable to avoid secondary auth
  pong/app/controllers/api/users_controller.rb
Due: none

[FIX] add conversion from string to integer if string in ban, mute
  pong/app/controllers/api/chat_rooms_members_controller.rb
Due: none

[FIX] fix conversion from string to integer if string in chatroom update
  pong/app/controllers/api/chat_rooms_members_controller.rb
Due: none

[FIX] bug about params string compare with boolean
  pong/app/controllers/api/users_controller.rb
Due: none

[ADD] comment to add job
  pong/app/models/game_queue.rb
Due: none

[UPDATE] remove parseInt because it's always sent as string to rails
  pong/app/javascript/srcs/views/InputBanDurationModalView.js
  pong/app/javascript/srcs/views/InputMuteDurationModalView.js
Due: npx prettier --write, npx eslint --fix

[FIX] guilds/my response now returns about master
  pong/app/controllers/api/guilds_controller.rb
  pong/app/views/api/guilds/my.json.jbuilder
Due: none

[FIX] add Unknown Error type and remove unnecessary callbacks of ajax
  pong/app/javascript/srcs/app.js
  pong/app/javascript/srcs/views/AuthView.js
  pong/app/javascript/srcs/views/InputBanDurationModalView.js
  pong/app/javascript/srcs/views/InputMuteDurationModalView.js
  pong/app/javascript/srcs/views/MyPageView.js
Due: npx prettier --write, npx eslint --fix

[ADD] add 2fa style
  pong/app/javascript/srcs/templates/AuthView.html
  pong/app/views/layouts/application.html.erb
  pong/public/css/auth.css
Due: npx prettier --write

[FIX] for rubocop and test
  pong/app/controllers/api/chat_rooms_members_controller.rb
Due: none

[ADD] raise exception when duration is invalid
  pong/app/controllers/api/chat_rooms_members_controller.rb
Due: none

[REFACTOR] with rubocop
  pong/app/controllers/api/chat_rooms_members_controller.rb
Due: none

[FIX] fix issue #127
  pong/app/javascript/srcs/views/ChatView.js
Due: npx prettier --write, npx eslint --fix

[UPDATE] Manage Tab can use only master, show guild master in guild info
  pong/app/javascript/srcs/templates/GuildInfoView.html
  pong/app/javascript/srcs/views/YesGuildView.js
Due: npx prettier --write, npx eslint --fix

[FIX] fix context menu class
  pong/app/javascript/srcs/views/GuildMemberView.js
Due: npx prettier --write, npx eslint --fix

[ADD] add side.refresh
  pong/app/javascript/srcs/views/SideView.js
Due: npx prettier --write, npx eslint --fix
