Repository NavyBye/ft_transcendence: changes, and which lint-staged commands are due for each by the changed paths.
All: npx prettier --write, npx eslint --fix

.lintstagedrc:

{
  "*.js": ["npx prettier --write", "npx eslint --fix"],
  "*.html": ["npx prettier --write"],
  "*.css": ["npx prettier --write"],
}

[UPDATE] rename to game in index.js
  pong/app/javascript/srcs/game/index.js
Due: npx prettier --write, npx eslint --fix

[UPDATE] add processing for inputs in Game
  pong/app/javascript/srcs/game/Bar.js
  pong/app/javascript/srcs/game/Entity.js
  pong/app/javascript/srcs/game/GameReceiver.js
  pong/app/javascript/srcs/game/GameSender.js
Due: npx prettier --write, npx eslint --fix

[FIX] fix bar, ball, wall confliction logic
  pong/app/javascript/srcs/game/GameSender.js
Due: npx prettier --write, npx eslint --fix

[FIX] fix overflow of #root content
  pong/public/css/main.css
Due: npx prettier --write

[UPDATE] make history when game end
  pong/app/channels/game_channel.rb
  pong/app/models/game.rb
Due: none

[ADD] add host? function
  pong/app/channels/game_channel.rb
Due: none

[UPDATE] change bar direction currently bar moves down when you press up key, so change the direction
  pong/app/javascript/srcs/game/Bar.js
Due: npx prettier --write, npx eslint --fix

[FIX] fix bar position reset after bar - wall confliction
  pong/app/javascript/srcs/game/GameSender.js
Due: npx prettier --write, npx eslint --fix

[FIX] declarations 신청 목록 from guild의 name보여주도록 model, template수정
  pong/app/javascript/srcs/models/GuildWarModel.js
  pong/app/javascript/srcs/templates/GuildWarView.html
Due: npx prettier --write, npx eslint --fix

[FIX] fix typo
  pong/app/javascript/srcs/views/GuildManageView.js
Due: npx prettier --write, npx eslint --fix

[ADD] add LoadingView
  pong/app/javascript/srcs/app.js
  pong/app/javascript/srcs/router.js
  pong/app/javascript/srcs/templates/LoadingView.html
  pong/app/javascript/srcs/views/LoadingView.js
Due: npx prettier --write, npx eslint --fix

[UPDATE] let GamePageView pass click action to box 1,2,3
  pong/app/javascript/srcs/views/GamePageView.js
Due: npx prettier --write, npx eslint --fix

[ADD] implement click() of basic CardViews
  pong/app/javascript/srcs/views/DuelCardView.js
  pong/app/javascript/srcs/views/LadderCardView.js
  pong/app/javascript/srcs/views/LadderTournamentCardView.js
Due: npx prettier --write, npx eslint --fix

[ADD] add signal handler for type 'connect'
  pong/app/javascript/srcs/app.js
Due: npx prettier --write, npx eslint --fix

[ADD] add signal handler for type 'refuse'
  pong/app/javascript/srcs/app.js
Due: npx prettier --write, npx eslint --fix

[REMOVE] remove redundant alert statements
  pong/app/javascript/srcs/app.js
Due: npx prettier --write, npx eslint --fix

[FIX] fix bug when match making request
  pong/app/javascript/srcs/views/DuelCardView.js
  pong/app/javascript/srcs/views/LadderCardView.js
  pong/app/javascript/srcs/views/LadderTournamentCardView.js
Due: npx prettier --write, npx eslint --fix

[ADD] delete all declarations when accept one decl
  pong/app/controllers/api/declarations_controller.rb
Due: none

[FIX] NoMethod error when game match successed
  pong/app/controllers/api/games_controller.rb
  pong/app/models/game_player.rb
Due: none

[ADD] param check to games#create params
  pong/app/controllers/api/games_controller.rb
Due: none

[ADD] add image on loading page
  pong/app/javascript/srcs/templates/LoadingView.html
  pong/public/images/loading.gif
Due: npx prettier --write

[FIX] game_player model method about calling helper method
  pong/app/models/game_player.rb
Due: none

[FIX] send signal, check format later
  pong/app/helpers/application_helper.rb
Due: none

[ADD] signal_receive method
  pong/app/channels/signal_channel.rb
Due: none

[FIX] check_signal_format to symbol
  pong/app/helpers/application_helper.rb
Due: none

[FIX] signal channel
  pong/app/channels/signal_channel.rb
Due: none

[FIX] fix cancelling matchmaking request
  pong/app/javascript/srcs/views/LoadingView.js
Due: npx prettier --write, npx eslint --fix

[FIX] fix signal channel errors
  pong/app/javascript/srcs/app.js
Due: npx prettier --write, npx eslint --fix

[UPDATE] Also report unknown errors
  pong/app/javascript/srcs/app.js
Due: npx prettier --write, npx eslint --fix

[UPDATE] add game infos (isHost, channelId) in 'play' route
  pong/app/javascript/srcs/app.js
  pong/app/javascript/srcs/router.js
  pong/app/javascript/srcs/views/GamePlayView.js
Due: npx prettier --write, npx eslint --fix

[FIX] Fix race condition on successful matchmaking
  pong/app/javascript/srcs/views/DuelCardView.js
  pong/app/javascript/srcs/views/LadderCardView.js
  pong/app/javascript/srcs/views/LadderTournamentCardView.js
Due: npx prettier --write, npx eslint --fix

[UPDATE] add is_host when matchmaking
  pong/app/models/game_player.rb
  pong/app/models/game_queue.rb
Due: none

[FIX] fix exists err
  pong/app/channels/game_channel.rb
Due: none

[ADD] /api/users/:id/game added
  pong/app/controllers/api/users_controller.rb
  pong/app/views/api/users/game.json.jbuilder
Due: none

[ADD] challenge for ladder-tournament
  pong/app/controllers/api/users_controller.rb
Due: none

[FIX] users/:id/game param fix
  pong/app/controllers/api/users_controller.rb
Due: none

[UPDATE] convert parameters from server
  pong/app/javascript/srcs/router.js
Due: npx prettier --write, npx eslint --fix

[FIX] fix 'Who is host?' problem
  pong/app/javascript/srcs/app.js
Due: npx prettier --write, npx eslint --fix

[UPDATE] broadcast when game end
  pong/app/channels/game_channel.rb
Due: none

[FIX] delete palceholder in input password modal
  pong/app/javascript/srcs/templates/RootView.html
Due: npx prettier --write
