Repository NavyBye/ft_transcendence: changes, and which lint-staged commands are due for each by the changed paths.
All: npx prettier --write, npx eslint --fix

[FIX] delete remark
  pong/public/css/content-ranking.css
Due: npx prettier --write

[ADD] role column to user table
  pong/app/models/user.rb
  pong/db/migrate/20210503065157_add_role_to_users.rb
  pong/db/schema.rb
Due: none

[ADD] admin controller
  pong/app/assets/stylesheets/api/admin.scss
  pong/app/controllers/api/admin_controller.rb
  pong/app/helpers/api/admin_helper.rb
  pong/config/routes.rb
  pong/test/controllers/api/admin_controller_test.rb
Due: none

[REFACTOR] with rubocop, about nested class
  pong/app/controllers/api/admin_controller.rb
  pong/app/helpers/api/admin_helper.rb
  pong/test/controllers/api/admin_controller_test.rb
Due: none

[ADD] PermissionDenied exception
  pong/app/controllers/api/admin_controller.rb
  pong/app/controllers/api/users_controller.rb
  pong/app/controllers/application_controller.rb
  pong/app/models/user.rb
Due: none

[ADD] admin tests
  pong/test/controllers/api/admin_controller_test.rb
  pong/test/fixtures/users.yml
  pong/test/models/user_test.rb
Due: none

[UPDATE] change radio name of app.login to login.get
  pong/app/javascript/srcs/app.js
  pong/app/javascript/srcs/collections/BlockCollection.js
  pong/app/javascript/srcs/router.js
  pong/app/javascript/srcs/views/ChatRoomView.js
  pong/app/javascript/srcs/views/ChatView.js
  pong/app/javascript/srcs/views/FriendView.js
  pong/app/javascript/srcs/views/LoginView.js
  pong/app/javascript/srcs/views/SideView.js
  pong/app/javascript/srcs/views/UserProfileModalView.js
Due: npx prettier --write, npx eslint --fix

[UPDATE] make LoginView route to home after login
  pong/app/javascript/srcs/views/LoginView.js
Due: npx prettier --write, npx eslint --fix

[ADD] add radio for fetching user info
  pong/app/javascript/srcs/app.js
Due: npx prettier --write, npx eslint --fix

[ADD] additional filter
  pong/app/controllers/application_controller.rb
Due: none

[FIX] log-in returns new token
  pong/app/controllers/application_controller.rb
  pong/app/controllers/users/sessions_controller.rb
Due: none

[UPDATE] update joined field to list chatroom api
  pong/app/controllers/api/chat_rooms_controller.rb
  pong/app/models/chat_room.rb
Due: none

[UPDATE] rm mychatroom list api
  pong/config/routes.rb
  pong/test/controllers/api/chat_rooms_controller_test.rb
Due: none

[UPDATE] Nav Bar collapse
  pong/app/javascript/srcs/templates/MainView.html
  pong/app/javascript/srcs/templates/NavView.html
  pong/public/css/main.css
Due: npx prettier --write

[UPDATE] NavBar dropdown update
  pong/public/css/main.css
Due: npx prettier --write

[ADD] add overflow-x hidden #root
  pong/public/css/main.css
Due: npx prettier --write

[UPDATE] make app fetch user info when login / logout
  pong/app/javascript/srcs/app.js
  pong/app/javascript/srcs/views/LoginView.js
Due: npx prettier --write, npx eslint --fix

[FIX] fix parse error on receiving chat
  pong/app/javascript/srcs/views/ChatCollectionView.js
Due: npx prettier --write, npx eslint --fix

[ADD] 2fa function added, can use with check_second_auth method as a filter.
  pong/app/controllers/api/guilds_controller.rb
  pong/app/controllers/application_controller.rb
  pong/app/controllers/users/sessions_controller.rb
  pong/app/models/email_auth.rb
  pong/app/models/user.rb
Due: none

[FIX] fix token update error
  pong/app/javascript/srcs/app.js
  pong/app/javascript/srcs/utils/auth.js
  pong/app/javascript/srcs/views/AddChatRoomModalView.js
  pong/app/javascript/srcs/views/ChatRoomSettingModalView.js
  pong/app/javascript/srcs/views/ChatRoomView.js
  pong/app/javascript/srcs/views/ChatView.js
  pong/app/javascript/srcs/views/FriendView.js
  pong/app/javascript/srcs/views/LoginView.js
  pong/app/javascript/srcs/views/MyPageView.js
  pong/app/javascript/srcs/views/UserProfileModalView.js
Due: npx prettier --write, npx eslint --fix

[FIX] make radio login.fetch asynchronous
  pong/app/javascript/srcs/app.js
Due: npx prettier --write, npx eslint --fix

[REMOVE] remove turbolinks completely
  pong/Gemfile
  pong/app/javascript/packs/application.js
  pong/app/views/layouts/application.html.erb
  pong/package-lock.json
  pong/package.json
  pong/yarn.lock
Due: npx prettier --write, npx eslint --fix

[REMOVE] remove app.chatRoomList
  pong/app/javascript/srcs/app.js
  pong/app/javascript/srcs/models/ChatRoomModel.js
  pong/app/javascript/srcs/views/ChatRoomView.js
Due: npx prettier --write, npx eslint --fix

[ADD] 2FA backend
  pong/Gemfile
  pong/app/assets/stylesheets/api/auth.scss
  pong/app/controllers/api/auth_controller.rb
  pong/app/controllers/api/guilds_controller.rb
  pong/app/controllers/api/users_controller.rb
  pong/app/controllers/application_controller.rb
  pong/app/controllers/users/omniauth_callbacks_controller.rb
  pong/app/controllers/users/registrations_controller.rb
  pong/app/controllers/users/sessions_controller.rb
  pong/app/helpers/api/auth_helper.rb
  pong/app/helpers/application_helper.rb
  pong/app/javascript/packs/application.js
  pong/app/models/email_auth.rb
  pong/app/models/user.rb
  pong/app/views/layouts/application.html.erb
  pong/config/routes.rb
  pong/package-lock.json
  pong/package.json
  pong/test/controllers/api/auth_controller_test.rb
  pong/yarn.lock
Due: npx prettier --write, npx eslint --fix

[FIX] fix issue #97
  pong/app/javascript/srcs/templates/ChatRoomView.html
  pong/app/javascript/srcs/templates/RecvChatView.html
  pong/app/javascript/srcs/views/ChatRoomView.js
  pong/app/javascript/srcs/views/ChatView.js
Due: npx prettier --write, npx eslint --fix

[FIX] make immediately chatroom available when clicking 'Join Room' in ChatRoomView
  pong/app/javascript/srcs/views/ChatRoomView.js
Due: npx prettier --write, npx eslint --fix

[ADD] 2FA mailer
  pong/app/controllers/api/guilds_controller.rb
  pong/app/mailers/application_mailer.rb
  pong/app/mailers/auth_mailer.rb
  pong/app/models/user.rb
  pong/app/views/auth_mailer/auth_email.text.erb
  pong/test/mailers/auth_mailer_test.rb
  pong/test/mailers/previews/auth_mailer_preview.rb
Due: none

[REFACTOR] with rubocop
  pong/test/mailers/previews/auth_mailer_preview.rb
Due: none

[ADD] now chatroom requires password if it is private
  pong/app/javascript/srcs/templates/RootView.html
  pong/app/javascript/srcs/views/ChatRoomView.js
  pong/app/javascript/srcs/views/InputPasswordModalView.js
Due: npx prettier --write, npx eslint --fix

[ADD] show error modal when password is incorrect
  pong/app/javascript/srcs/views/InputPasswordModalView.js
Due: npx prettier --write, npx eslint --fix

[FIX] errors format about user and guilds
  pong/app/controllers/api/friends_controller.rb
  pong/app/controllers/api/guild_members_controller.rb
  pong/app/controllers/api/guilds_controller.rb
  pong/app/controllers/api/invites_controller.rb
  pong/app/controllers/api/users_controller.rb
  pong/app/controllers/application_controller.rb
Due: none

[ADD] first login backend ready
  pong/app/controllers/api/guilds_controller.rb
  pong/app/controllers/application_controller.rb
  pong/app/helpers/application_helper.rb
  pong/app/models/user.rb
Due: none

[ADD] add onDestroy on SideView, MainView
  pong/app/javascript/srcs/views/MainView.js
  pong/app/javascript/srcs/views/SideView.js
Due: npx prettier --write, npx eslint --fix

[ADD] add HomeView
  pong/app/javascript/srcs/views/HomeView.js
Due: npx prettier --write, npx eslint --fix

[FIX] fix issue #100
  pong/app/javascript/srcs/router.js
  pong/app/javascript/srcs/views/LoginView.js
Due: npx prettier --write, npx eslint --fix

[ADD] add guild page route
  pong/app/javascript/srcs/router.js
Due: npx prettier --write, npx eslint --fix

[ADD] add Yes, No Guild view
  pong/app/javascript/srcs/templates/GuildView.html
  pong/app/javascript/srcs/views/GuildView.js
  pong/app/javascript/srcs/views/NoGuildView.js
  pong/app/javascript/srcs/views/YesGuildView.js
Due: npx prettier --write, npx eslint --fix

Path conditions:
  npx prettier --write: ((any of: *.js) or (any of: *.html)) or (any of: *.css)
  npx eslint --fix: any of: *.js
