Repository NavyBye/ft_transcendence: changes, and which lint-staged commands are due for each by the changed paths.
All: npx prettier --write, npx eslint --fix

[UPDATE] update controller permission for admin or owner
  pong/app/controllers/api/chat_rooms_controller.rb
  pong/app/controllers/api/chat_rooms_members_controller.rb
Due: none

[UPDATE] send signal when dm created
  pong/app/helpers/application_helper.rb
  pong/app/models/dm_room_message.rb
Due: none

[ADD] show win/lose modal when game end
  pong/app/javascript/srcs/game/GameReceiver.js
  pong/app/javascript/srcs/game/GameSender.js
Due: npx prettier --write, npx eslint --fix

[REMOVE] remove sending info related code when game start
  pong/app/channels/game_channel.rb
  pong/app/javascript/srcs/game/GameReceiver.js
Due: npx prettier --write, npx eslint --fix

[ADD] ladder match result happy path
  pong/app/channels/game_channel.rb
  pong/test/controllers/api/games_controller_test.rb
Due: none

[FIX] fix error
  pong/app/helpers/application_helper.rb
  pong/app/models/dm_room_message.rb
Due: none

[ADD] ladder_tournament happy path test
  pong/app/channels/game_channel.rb
  pong/test/controllers/api/games_controller_test.rb
  pong/test/fixtures/users.yml
Due: none

[ADD] war match result happy path test
  pong/test/controllers/api/games_controller_test.rb
Due: none

[ADD] extended match apply result happy path test
  pong/test/controllers/api/games_controller_test.rb
Due: none

[UPDATE] Passing game data in uri is bad
  pong/app/javascript/srcs/app.js
  pong/app/javascript/srcs/router.js
  pong/app/javascript/srcs/views/GamePlayView.js
Due: npx prettier --write, npx eslint --fix

[ADD] notify to opposite guild a war-match queue creation
  pong/app/helpers/application_helper.rb
  pong/app/models/game_queue.rb
Due: none

[UPDATE] Set black stroke on bar, ball
  pong/app/javascript/srcs/game/Ball.js
  pong/app/javascript/srcs/game/Bar.js
Due: npx prettier --write, npx eslint --fix

Revert "[REMOVE] remove border of GamePlayView"
  pong/public/css/game-play.css
Due: npx prettier --write

[FIX] fix err
  pong/app/controllers/api/tournament_participants_controller.rb
  pong/app/controllers/api/tournaments_controller.rb
  pong/app/models/tournament.rb
  pong/app/models/tournament_participant.rb
Due: none

[UPDATE] add notify signal handle
  pong/app/javascript/srcs/app.js
Due: npx prettier --write, npx eslint --fix

[UPDATE] notify 알람용 element 추가
  pong/app/javascript/srcs/templates/DmRoomView.html
  pong/app/javascript/srcs/templates/SideView.html
Due: npx prettier --write

[UPDATE] dm signal 처리 동작 구현
  pong/app/javascript/srcs/views/DmCollectionView.js
  pong/app/javascript/srcs/views/DmRoomCollectionView.js
  pong/app/javascript/srcs/views/SideView.js
  pong/public/css/side.css
Due: npx prettier --write, npx eslint --fix

[FIX] wars index to show 2 guilds at right time
  pong/app/controllers/api/wars_controller.rb
  pong/app/views/api/wars/index.json.jbuilder
Due: none

[ADD] add Guild History Modal
  pong/app/javascript/srcs/templates/RootView.html
  pong/app/javascript/srcs/views/GuildHistoryModalView.js
  pong/app/javascript/srcs/views/GuildRankingView.js
Due: npx prettier --write, npx eslint --fix

[FIX] Fix tournament router bug
  pong/app/javascript/srcs/game/GameReceiver.js
Due: npx prettier --write, npx eslint --fix

[FIX] GuildPage에서 history admin만 확인할 수 있는것 수정
  pong/app/javascript/srcs/views/YesGuildView.js
Due: npx prettier --write, npx eslint --fix

[UPDATE] declare시에 tta항목 추가
  pong/app/javascript/srcs/templates/GuildManageView.html
  pong/app/javascript/srcs/views/GuildManageView.js
Due: npx prettier --write, npx eslint --fix

[UPDATE] 전쟁 신청 목록에 TTA 추가
  pong/app/javascript/srcs/templates/GuildWarCollectionView.html
  pong/app/javascript/srcs/templates/GuildWarView.html
Due: npx prettier --write

[FIX] change tta default 10 -> 20
  pong/app/javascript/srcs/templates/GuildManageView.html
Due: npx prettier --write

[ADD] tta to declarations and wars
  pong/db/migrate/20210601212731_add_tta_to_war_and_declaration.rb
  pong/db/schema.rb
Due: none

[ADD] tta model validations
  pong/app/models/declaration.rb
  pong/app/models/war.rb
Due: none

[ADD] tta applied
  pong/app/controllers/api/declarations_controller.rb
  pong/app/models/game_queue.rb
Due: none

[FIX] typo
  pong/test/controllers/api/declarations_controller_test.rb
Due: none

[ADD] tta in decl jbuilder
  pong/app/views/api/declarations/index.json.jbuilder
Due: none

[REMOVE] Remove unnecessary id, value
  pong/app/javascript/srcs/models/UserHistoryModel.js
  pong/app/javascript/srcs/templates/RootView.html
Due: npx prettier --write, npx eslint --fix

[FIX] Fix history 9 - 10 problem
  pong/app/views/api/guilds/histories.json.jbuilder
  pong/app/views/api/users/histories.json.jbuilder
Due: none

[ADD] rank change when refuse OR avoid ladder-tournament match
  pong/app/channels/game_channel.rb
  pong/app/controllers/api/games_controller.rb
  pong/app/jobs/queue_timeover_job.rb
Due: none

[ADD] add war, tournament image
  pong/public/images/tournament.jpg
  pong/public/images/war.png
Due: none

[UPDATE] add id to change it later
  pong/app/javascript/srcs/templates/HomeView.html
Due: npx prettier --write

[ADD] fetch war info in HomeView
  pong/app/javascript/srcs/views/HomeView.js
Due: npx prettier --write, npx eslint --fix

[UPDATE] Fix image width/height
  pong/app/javascript/srcs/templates/HomeView.html
Due: npx prettier --write

[ADD] fetch Tournament info in HomeView
  pong/app/javascript/srcs/views/HomeView.js
Due: npx prettier --write, npx eslint --fix

[UPDATE] add rule button
  pong/app/javascript/srcs/templates/GamePageView.html
Due: npx prettier --write

[UPDATE] RULE button, modal
  pong/app/javascript/srcs/templates/RootView.html
  pong/app/javascript/srcs/views/GamePageView.js
  pong/app/javascript/srcs/views/RuleSetModalView.js
Due: npx prettier --write, npx eslint --fix

[UPDATE] Remove image...
  pong/app/javascript/srcs/templates/HomeView.html
  pong/app/javascript/srcs/views/HomeView.js
  pong/public/css/home.css
Due: npx prettier --write, npx eslint --fix

Path conditions:
  npx prettier --write: ((any of: *.js) or (any of: *.html)) or (any of: *.css)
  npx eslint --fix: any of: *.js
